@{
    ViewData["Title"] = "Trending";
}


<section class="choclate-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-3 left-side-bar">
                <div class="side-div">
                    <h4 class="dropbtn">Category<i class="fa fa-angle-down pull-right" aria-hidden="true"></i></h4>
                    <ul class="category-list dropdown-content">
                        <li>
                            <label class="check-square">
                                <input type="checkbox" checked="checked">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Unsweetened Chocolate <span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Bittersweet Chocolate <span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Semisweet Chocolate <span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Milk Chocolate<span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Sweet Baking Chocolate 	<span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Unsweetened Cocoa Powder <span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>White Chocolate 		<span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Premelted Chocolate <span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Candy Coating<span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Mexican Chocolate <span class="pull-right">(24)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="side-div">
                    <h4 class="dropbtn">Price<i class="fa fa-angle-down pull-right" aria-hidden="true"></i></h4>
                    <div class="dropdown-content">
                        <span>AED 10</span>
                        <span class="pull-right">2500 AED</span>
                        <img src="img/price-img.png" style="width:100%;margin-top:10px;">
                    </div>
                </div>
                <hr>
                <div class="side-div">
                    <h4 class="dropbtn">Brands<i class="fa fa-angle-down pull-right" aria-hidden="true"></i></h4>
                    <div class="cloth-list brand-dtl dropdown-content ">
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black1.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black2.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black3.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black4.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black5.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black6.png">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black7.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black8.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black9.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black1.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black2.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black3.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black4.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black5.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black1.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black2.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black3.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black4.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black5.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black1.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black2.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black3.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                        <label class="cloth-box">
                            <a href="#">
                                <span>
                                    <div class="cloth-img">
                                        <img src="img/black4.jpg">
                                    </div>
                                </span>
                            </a>
                        </label>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-9 brand-right">
                <h3>Trending Now <span>(29 Products)</span></h3>
                <div class="row">
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/trend1.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc1.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc2.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc3.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc4.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc5.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc6.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc6.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/trend1.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc1.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc2.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc3.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc4.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc5.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc6.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc6.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc4.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc5.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc6.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                    <div class="col-md-3 detail-div">
                        <a href="#">
                            <div class="img-div">
                                <img src="img/choc6.jpg">
                            </div>
                            <h5>Chocolate Rasberry Cake 500gm pack</h5>
                            <h4 class="price-text">15.00 AED </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

