
@{
    /**/

    ViewData["Title"] = "Terms of Condition";
    Layout = "";
}
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

<link href="/css/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" href="/css/customfrontnew.css?v=879" />

@*@{Html.RenderPartial("_alerts");}*@
<section class="about-page" ng-app="Homex" ng-controller="HomeC">
    <div class="container">



        <div class="terms-of-cond terms-of-cond-pi">

            <p>Sweetness Portal ("WE", "I" OR "OUR SITE" OR "ITS SUPPLIERS" OR "THE COMPANY" OR "SWEETNESS") WE OPERATE THE WEB SITE AND THE MOBILE APPLICATIONS OF THE WEBSITE AND THE COMPANY OR WHAT WE MAY Our social networking.<br />This page informs you of the terms and conditions on which the site and all its accessories are as follows:</p>

            <div class="terms-of-ul">
                <ul>
                    <li>Terms and conditions for your use of and access to the pages of the Sweetness Web site and all pages, links, tools and features of our site. Your use of our Site is your agreement to accept the terms and conditions of this Agreement which includes all the details below and is an affirmation of your commitment to comply with the content of this Agreement for the Sweetness portal ", hereinafter referred to as the" Usage Agreement".</li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Terms and conditions of membership:</li>
                    <ul>
                        <li>Membership is granted to the site or its accessories only to those who are 16 years of age. The SWEETNESS PORTAL website has the full right to cancel any account for a member who has not reached the age of 16 years.</li>
                        <li>No person is entitled to use the site if its membership is canceled.</li>
                        <li>In the event that any commercial institution is registered as a user, its business organization shall be bound by all the conditions and conditions set out in this Agreement. </li>
                        <li>You must comply with all applicable laws governing online commerce.</li>
                        <li>Users must comply with the commercial contracts concluded with the members.</li>
                        <li>No member of the site has the right to buy prohibited, suspicious or stolen items or in violation of the laws in force in the ministries and bodies of the local government trade institutions, and if this proves to be the case, he puts himself under personal responsibility without responsibility.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Registration and creating a personal account: Once you apply for membership in the site you will be required to disclose specific information and to choose a secret username and password to use when entering the site. Upon acceptance of the application, you will be considered as a member of the site and you will agree to:</li>
                    <ul>
                        <li>You are responsible for maintaining the confidentiality of your account information and password, identifying the persons allowed to access and using your account on the site.</li>
                        <li>The Sweetness Portal will not be liable for any loss you may incur directly or indirectly, morally or materially, as a result of disclosure of your username or password.</li>
                        <li>You hereby agree to notify Sweetness Portal in the event of any breach of your account or any unauthorized user of your login or account or any other breach of your confidential information.</li>
                        <li>Your responsibility is to maintain the use of the Sweetness Portal website in all seriousness and credibility and is obliged to compensate the Site of the Sweetness Portal for any direct or indirect losses that may be caused to us as a result of any illegal, real or authorized use of your account by you or By another party.</li>
                        <li>You have agreed to disclose true, correct and complete information about yourself as<br />required on the registration form.</li>
                        <li>The site is committed to dealing with your personal information and contacts with you in strict secrecy with other members. Members are provided with your contact information only upon completion of business transactions.</li>
                        <li>You are obliged to maintain and update the registration data. If you disclose incorrect, incorrect, incomplete or incomplete information in violation of the User Agreement, our site will have the full right to terminate, limit or cancel your membership and account. Without prejudice to the rights and legitimate means of the Sweetness portal to recover its rights.</li>
                        <li>If the applicant for the registration is a commercial entity, you must provide all the required information and documents including your commercial license, other documents of the institution and / or documents showing the responsibility of any person acting on your behalf.</li>
                        <li>In the event that you do not comply with any of the above, the Site Administration has the right to suspend or cancel your membership and to block you from the site. We also reserve the right to cancel any unconfirmed and unsubstantiated accounts, operations or accounts that have been long past inactive.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Electronic Communication:</li>
                    <ul>
                        <li>You agree to be contacted by e-mail or by posting advertisements on the Site, and you agree that all agreements, declarations, statements and other communications provided to you electronically. </li>
                        <li>During the period of your membership, the "Sweetness Portal" will forward promotional emails to inform you of any changes, procedures or new promotional activities that may be added to the site.</li>
                        <li>You have the right as a user to confirm that you do not wish to receive promotional emails. You can cancel receiving such messages by clicking the Do not receive promotional messages option at the bottom of promotional messages and advertising.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>User Agreement and its amendments and the mechanism of our website:</li>
                    <ul>
                        <li>You acknowledge and agree that SWEETNESS PORTAL will notify you of any modification to the User Agreement, by which your obligations will be doubled or your rights will diminish in accordance with any amendments to the Terms of Use.</li>
                        <li>Your full agreement that Sweetness Portal shall have the right to make fundamental or sub-amendments to this Agreement without requiring additional consent from you at any time and immediately by posting a notice of the modification on the Site.</li>
                        <li>You know that the " Sweetness Portal " allows the sale and purchase of goods between sellers and buyers registered on the site.</li>
                        <li>Membership on the site is free. The site can impose the fees for the conclusion of transactions on the sellers when the sale of goods on the site, and there are optional advertising fees in case of request and use to promote the goods on the site.</li>
                        <li>Vendors must pay all fees due to the site within 10 days and up to the maximum after completing any successful sale.</li>
                        <li>Seller must properly inform the Site Management of any unsuccessful sale for any reason.</li>
                        <li>You have the right as a seller to cancel or redeem the value of any commissions charged or deducted for non-performing transactions.</li>
                        <li>Before you offer any item for sale on the site, you should review the details of the specific fees that will be charged to your operations and you will have to pay them immediately after issuing the monthly invoices for the account of your operations on the site.</li>
                        <li>The site has the right to make adjustments to the transaction fees as it deems appropriate and any amendment will be announced through your e-mail. The amendments may be temporary or continuous, whether on fees or details of shipping services and you must abide by their terms when they are announced. </li>
                        <li>All fees are charged in the local currency of the United Arab Emirates or you must pay all fees due on your operations in addition to any other taxes or expenses within 5 days from the date of the invoice sent to you by the site.</li>
                        <li>In the event that you are not obligated to pay the fees or any of the transactions you have performed on the Site, the Site and without any legal responsibility shall reserve the right to:</li>
                        <li class="list-style-none">1- Direct and issue a formal warning to the individual or organization he represents in case of delay. In the event that the financial dues are not paid within a maximum period of 5 days, after the individual or institution has been warned, the site is entitled to suspend your account temporarily or permanently and take the necessary measures.</li>
                        <li class="list-style-none">2- For accounts payable for more than one month, the amount of the unpaid amount will be deducted from your account registered with the website.</li>
                        <li class="list-style-none">3- Sweetness Portal reserves the right to take any necessary steps or steps including, but not limited to, legal claims for the collection of due fees and / or appropriate taxes and expenses. </li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Your personal information and process details:</li>
                    <ul>
                        <li>You have no obligation to grant the Site an unlimited, irrevocable, irrevocable, royaltyfree, licensed right to use information, personal material or otherwise, provided to us by the Site and / or posted on the Site through registration.</li>
                        <li>You are solely responsible for the information you submit or publish and the role of the site is limited to allowing you to display this information on the website pages and through its advertising channels. </li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Prohibited actions during on-site operations:</li>
                    <ul>

                        <li>You have not made payments for goods you have purchased, unless the seller has changed the specifications of the goods or there has been an update after you have made a purchase or a clear typographical error has occurred.</li>
                        <li>Failure to deliver the goods purchased from you as long as the buyer has complied with the conditions stated.</li>
                        <li>Trying to complete off-site transactions for goods offered on the site auction or offered for sale on the site without registering them as a successful transaction regardless of the method of delivery and payment. </li>
                        <li>
                            Use of communications resulting from purchases or sales on the Site, for the execution of sales transactions on other goods directly or indirectly from other sites via e-mail or other means of communication.
                        </li>
                        <li>Claim not to sell the goods, at a time that the site considers from its point of view that it has been successfully completed in accordance with the user agreement and the provisions of the site. </li>
                        <li>Manipulate or attempt to tamper with the Site in any manner including the prices of any goods or services on the Site either on your own or with the assistance of another party or user</li>
                        <li>Dodging and manipulating the structure of site fees and billing process, or site-owned fees.</li>
                        <li>Carry out any act that would disrupt the systems of maintaining the confidentiality of the information and data of the site, or the disclosure or use of any data or information for any reasons or actions not related. </li>
                        <li>Transfer your account on the Site and User Name to another party without notifying the Site Administration and its consent to such action. </li>
                        <li>Distribute or advertise illegal or large volume communications, or a hierarchy of messages. </li>
                        <li>Distribute any harmful software such as viruses, trojans, time bombs, or any similar software or technologies that may damage the site or the interests and properties of the users of the site.</li>
                        <li>Making a claim on the site or causing a total or partial loss to the services of the Internet operators or any other suppliers. </li>
                        <li>Carrying out any work that carries us or may (in our view) imposes enormous and unjustified burdens on our infrastructure and operating policy.</li>
                        <li>Intervention or attempt to interfere to influence the functioning of the site.</li>
                        <li>Attempting to hijack another user's account or to perform a scam on the site or their user accounts and other domains.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Undertake, declare and warrant that you:</li>
                    <ul>

                        <li>reached 16 years or more</li>
                        <li>that you have the authority to bind the institution "if you represent a foundation"</li>
                        <li>You are the sole and exclusive beneficial owner of all materials of any kind that you wish to display for sale on the Site, and that you have proof that you have the right and authority to trade and display such materials.</li>
                        <li>You will comply with all applicable local and international laws in this regard, as well as the applicable provisions regarding the use of the site. </li>
                        <li>The information and description of the goods to be published on the site for the purpose of sale are correct, accurate, detailed and illustrated. </li>
                        <li>You operate within the site's policy of maintaining the privacy of contact information and communication, you will not disclose the details of the information and contact addresses including phone numbers, e-mail addresses, e-mail addresses, anywhere on the site, including forms, Item or through any features of the e-mail of the site. </li>
                        <li>You will not use your information through the communications necessary to perform any transaction on the Site with the intent to complete additional sales off-site or< through another site.</li>
                        <li>You will not collect your information about other users, including their email address<br />and other means of communication.</li>
                        <li>You will not disclose or publish any personal information about users, or use them in a manner (in our opinion) that may violate their confidentiality, privacy and applicable laws. </li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Copyright:</li>
                    <ul>
                        <li>All content contained in the Site, including but not limited to text, graphic designs, logos, button icons, icons, tracks, digital loads, data collected and electronic software, is the property and rights reserved to either the Site or its users, They are protected by copyrighted copyright, trademarks, intellectual property rights and laws. </li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Buyer Protection: The website has a complete electronic processing complex to protect the buyer and aims to assist buyers to ensure that their purchases are protected from sellers' fraud on the site.</li>
                    <ul>
                        <li>In the event that the site's management receives the sender's notification, it will be necessary to verify the case and its details. If the site decides that the seller is the buyer of the fraud, the site will impose compensation on the buyer.</li>
                        <li>In addition to the above, the "Electronic Settlement Complex" may stop, cancel or block the Seller's access to the Site and / or cancel its membership, and the Seller shall have the right to charge Buyer's costs of shipping, ), And the site reserves the right to take additional steps if necessary, including legal steps. </li>
                        <li>You know and agree that if any goods from the buyer are returned to the site, and the item is illegal or illegal, then the site is entitled and then in its sole discretion to damage the goods or take any other necessary steps.</li>

                        <li>Shipping charges for return orders: (If the return is due to an error the seller is carrying or a problem with the product sent)</li>

                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>A. If the buyer objects during the time of receipt of the application</li>
                    <ul>
                        <li>The seller assumes the shipping fees for returning the item to him </li>
                        <li>In the event that the site does not agree to the return request submitted by the customer and the customer refused to receive the rejected item rejected by the site, the right to the site will be disposed of after 1 days from the date of rejection of the customer.</li>

                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>B. If the buyer objected during the receipt of the request (only if the return of the product is approved) </li>
                    <ul>
                        <li>The buyer pays the shipping charges that you paid to ship the item to him</li>
                        <li>The seller shall bear the shipping charges for returning the item to him</li>
                        <li>In the event that the site does not approve the return request submitted by the customer and the customer refuses to receive the rejected item rejected by the site, the right to the site will be disposed of after 1 days from the date of rejection of the customer.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Returned goods:</li>
                    <ul>
                        <li>The Site and any of its affiliates may dispose, destroy, liquidate or offer to sell any of the Seller's products / products as it deems fit within 2 days after receiving them from the Shipping Company in the event that such products / goods are returned or not received from Buyers For any reason, provided that the seller is notified of the products mentioned / goods returned by sending a message to the e-mail provided by the seller and the seller did not take the necessary procedures to receive them. This paragraph is an explicit authorization to the site to destroy and / or display products in liquidation for any products / goods mentioned above without any objection from the sellers and without any liability arising from the site. In addition, the Site may deduct from Seller's account or claim any fees or amounts incurred by damage and / or liquidation of the above-mentioned goods.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Responsibilities of the Sweetness Portal:</li>
                    <ul>
                        <li>The site is simply a channel for communication, where users can meet and interact with each other with a view to buying and selling goods</li>
                        <li>The website does not guarantee that the buyer or the seller will make the transaction or accept the seller return or refund them.</li>
                        <li>You will not hold the Site responsible to users for the content, verbs, reactions, goods or information they display</li>
                        <li>The Site is not responsible for the non-compliance or conclusion of a contract between (the users, nor is responsible for the transfer of legal ownership of the goods from the seller to the buyer). As the contract for the sale of any goods will be bilaterally between the seller and the buyer. And the site is not at any right moment nor Authority and interest in any goods, and not on the site obligation or claims regarding such goods concluded contract between the seller and the buyer.</li>
                        <li>We are not responsible for any unsatisfactory or late performance by any of the parties, nor for any loss, malfunction or delay due to goods unavailable or delayed delivery.</li>
                        <li>The Site is not required to mediate or resolve any dispute or dispute between users.</li>
                        <li>The site does not control and does not guarantee the quality, security and legitimacy of any goods that are advertised, nor does it control the honesty of users in terms of contents and what they include in the description of their goods, nor in the ability of sellers to market their goods. </li>
                        <li>Users must agree among themselves on the terms, terms and conditions of delivery, payment, among themselves. The Site is not responsible for such arrangements, and only provides optional services for shipping and facilitating payment. </li>
                        <li>The Site does not accept any claims arising out of errors or omissions, whether obtained by third party or third party.</li>
                        <li>The site excludes from its guarantees and terms and conditions any financial losses, defamation of reputation, and any special damages arising from your misuse or inability to use the website.</li>
                        <li>You exempt the Sweetness Portal and / or any of its officers and representatives from any claim, dispute, costs, damages, liability, and direct loss to any party arising out of an act done by the users of the Site, and you specifically waive in accordance with the laws Applicable to any claim in this regard. </li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Confidentiality:</li>
                    <ul>
                        <li>The site takes physical, regulatory and technological standards to protect against the unauthorized access and preservation of your personal identity. Knowing that the Internet is not a safe way, your confidential personal information can not be guaranteed 100% </li>
                        <li>The site will provide your contact information, "mobile and e-mail to the second party to complete the transaction, where the communication between the parties to complete the process of shipping and payment. </li>
                        <li>The Site has no control over the actions of any third party, such as other web pages linked to this Site, or third parties claiming to represent you or represent others. You know and agree that your information may be used to provide services to you on the Site, to send marketing messages to you, and that the confidentiality agreement on this Site governs the collection, processing, use and transfer of your personally identifiable information.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Revoke User Agreement: By using the User Agreement and the law, you may immediately and without liability take the time to determine your activity, remove your bids in auctions, delete your inventory of sales, and warn other users about your activities. To terminate or terminate your membership and / or to limit your access to the Site without prejudice to your other rights and legitimate means of recovering your rights in the event of:</li>
                    <ul>
                        <li>If the employment agreement is violated </li>
                        <li>If sweetness portal can not authenticate any of your submitted information.</li>
                        <li>If you decide to resolve your e-business dealings, your activities may cause you or other users and the sweetness portal to deal with the electronic legal issues.</li>
                        <li>The Sweetness portal may, according to its assessment, restore the activity of the suspended users. The user who has permanently suspended or withdrawn his membership may not be able to register or attempt to register at the sweetness portal website for electronic handling or use of the Website in any way that is important The circumstances were, until he was allowed to resume his activity at the sweetness portal. However, if you violate this User Agreement, Sweetness Portal retains the right to recover any amounts due to you and any damages and damages caused by the Sweetness Portal have the right to take legal action and / or recourse to the courts of United Arab Emirates to file a criminal case Against you as sweetness portal considers transaction appropriate.</li>
                        <li>Your breach or breach of this User Agreement does not oblige the Sweetness Portal to handle the waiver of its right to take appropriate action for such and such other breach. Sweetness Portal does not guarantee that it will take action against all violations of the User Agreement.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Revoke User Agreement: By using the User Agreement and the law, you may immediately and without liability take the time to determine your activity, remove your bids in auctions, delete your inventory of sales, and warn other users about your activities. To terminate or terminate your membership and / or to limit your access to the Site without prejudice to your other rights and legitimate means of recovering your rights in the event of:</li>
                    <ul>
                        <li>If the employment agreement is violated </li>
                        <li>If sweetness portal can not authenticate any of your submitted information.</li>
                        <li>If you decide to resolve your e-business dealings, your activities may cause you or other users and the sweetness portal to deal with the electronic legal issues.</li>
                        <li>The Sweetness portal may, according to its assessment, restore the activity of the suspended users. The user who has permanently suspended or withdrawn his membership may not be able to register or attempt to register at the sweetness portal website for electronic handling or use of the Website in any way that is important The circumstances were, until he was allowed to resume his activity at the sweetness portal. However, if you violate this User Agreement, Sweetness Portal retains the right to recover any amounts due to you and any damages and damages caused by the Sweetness Portal have the right to take legal action and / or recourse to the courts of United Arab Emirates to file a criminal case Against you as sweetness portal considers transaction appropriate.</li>
                        <li>Your breach or breach of this User Agreement does not oblige the Sweetness Portal to handle the waiver of its right to take appropriate action for such and such other breach. Sweetness Portal does not guarantee that it will take action against all violations of the User Agreement.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>No Warranty: The site provides its site and services with the sale of the goods on it, and as available, without its adoption and without warranty, not confidential or apparent, including the title deed, its validity for use, quality, safety and authenticity. The site does not guarantee its accuracy, reliability or completeness. The information, texts, designs and means of communication used through the site does not guarantee the repair of the glitches and does not guarantee the absence of the site from viruses and any other things that could harm the users. It is the nature of communication through the Internet that the information in it is vulnerable to entry and spoil it and cause delay. From time to time, the site may be unavailable for repair, maintenance and development. You agree that the Sweetness Portal is not obligated to support the site, and that you are publicly consenting to your visit to the site and to take your own risks.</li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>identification of responsibilities: As permitted by law, the Sweetness Portal, its employees, managers, agents, affiliates and processors will not be liable for any direct loss or damage arising out of your use of the Site. If you are not satisfied with the site or any of the contents of the material, the solution is not to continue using it, moreover you agree that any unauthorized use of the site and its services, because of your negligence will cause harm to the site and the site will then have to resort to the terms and conditions of the user agreement. </li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Security: You agree to provide security for the Site, its directors, employees, agents and equipment, and to protect them from any damage they may suffer due to claims, losses, malfunctions, costs and expenses incurred due to your violation of the User Agreement or your breach of any law or amendments or infringement of the rights of third parties. </li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Relationship and notices: None of the terms of the User Agreement indicates a partnership between you and the Sweetness Portal, and you are not authorized to bind Sweetness Portal processing in any way and that any notices you wish to send to the Site must be emailed to The site responds to the email. You acknowledge and agree that any notices sent to you from the Site will be posted on the Site or by the email you provided to us during the registration process, which you are supposed to have received after 72 hours of dispatch. We can send you a standard mail notification at the address you provided and assume that it arrives after 7 days of sending.</li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>General information: If any provision of this User Agreement is invalid or void or for any reason no longer applicable, such paragraph shall not invalidate the rest of the paragraphs of the Agreement. This Agreement (which is amended from time to time as per its terms) sets out all the outlines of the understanding and agreement between you and the Sweetness Portal dealing with: </li>
                    <ul>
                        <li>No person who is not a party to this User Agreement shall have the right to impose any terms or conditions therein.</li>
                        <li>If the User Agreement is translated into any language other than English, either on the Site or in other ways, the English text shall prevail.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Governing Law and Legislation: This User Agreement is governed by and construed in accordance with the law of the United Arab Emirates and is fully and fully subject to applicable legislation in the courts of the country. This paragraph is an alternative to be used in the event that this User Agreement expires or is terminated for any reason.</li>
                </ul>
            </div>


        </div>



    </div>
</section>

<style>
    .terms-of-cond-pi {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>