
@{
    /**/

    ViewData["Title"] = "Terms and Conditions";
}


@*@{Html.RenderPartial("_alerts");}*@
<section class="about-page" ng-app="Homex" ng-controller="HomeC">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{"Home"| translate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{"Terms and Conditions"| translate }}</li>
        </ol>
        <div class="terms-of-cond">

            <p>Sweetness Portal ("WE", "I" OR "OUR SITE" OR "ITS SUPPLIERS" OR "THE COMPANY" OR "SWEETNESS") WE OPERATE THE WEB SITE AND THE MOBILE APPLICATIONS OF THE WEBSITE AND THE COMPANY OR WHAT WE MAY Our social networking.<br />This page informs you of the terms and conditions on which the site and all its accessories are as follows:</p>

            <div class="terms-of-ul">
                <ul>
                    <li>Terms and conditions for your use of and access to the pages of the Sweetness Web site and all pages, links, tools and features of our site. Your use of our Site is your agreement to accept the terms and conditions of this Agreement which includes all the details below and is an affirmation of your commitment to comply with the content of this Agreement for the Sweetness portal ", hereinafter referred to as the" Usage Agreement".</li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Terms and conditions of membership:</li>
                    <ul>
                        <li>Membership is granted to the site or its accessories only to those who are 16 years of age. The SWEETNESS PORTAL website has the full right to cancel any account for a member who has not reached the age of 16 years.</li>
                        <li>No person is entitled to use the site if its membership is canceled.</li>
                        <li>In the event that any commercial institution is registered as a user, its business organization shall be bound by all the conditions and conditions set out in this Agreement. </li>
                        <li>You must comply with all applicable laws governing online commerce.</li>
                        <li>Users must comply with the commercial contracts concluded with the members.</li>
                        <li>No member of the site has the right to buy prohibited, suspicious or stolen items or in violation of the laws in force in the ministries and bodies of the local government trade institutions, and if this proves to be the case, he puts himself under personal responsibility without responsibility.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Registration and creating a personal account: Once you apply for membership in the site you will be required to disclose specific information and to choose a secret username and password to use when entering the site. Upon acceptance of the application, you will be considered as a member of the site and you will agree to:</li>
                    <ul>
                        <li>You are responsible for maintaining the confidentiality of your account information and password, identifying the persons allowed to access and using your account on the site.</li>
                        <li>The Sweetness Portal will not be liable for any loss you may incur directly or indirectly, morally or materially, as a result of disclosure of your username or password.</li>
                        <li>You hereby agree to notify Sweetness Portal in the event of any breach of your account or any unauthorized user of your login or account or any other breach of your confidential information.</li>
                        <li>Your responsibility is to maintain the use of the Sweetness Portal website in all seriousness and credibility and is obliged to compensate the Site of the Sweetness Portal for any direct or indirect losses that may be caused to us as a result of any illegal, real or authorized use of your account by you or By another party.</li>
                        <li>You have agreed to disclose true, correct and complete information about yourself as<br />required on the registration form.</li>
                        <li>The site is committed to dealing with your personal information and contacts with you in strict secrecy with other members. Members are provided with your contact information only upon completion of business transactions.</li>
                        <li>You are obliged to maintain and update the registration data. If you disclose incorrect, incorrect, incomplete or incomplete information in violation of the User Agreement, our site will have the full right to terminate, limit or cancel your membership and account. Without prejudice to the rights and legitimate means of the Sweetness portal to recover its rights.</li>
                        <li>If the applicant for the registration is a commercial entity, you must provide all the required information and documents including your commercial license, other documents of the institution and / or documents showing the responsibility of any person acting on your behalf.</li>
                        <li>In the event that you do not comply with any of the above, the Site Administration has the right to suspend or cancel your membership and to block you from the site. We also reserve the right to cancel any unconfirmed and unsubstantiated accounts, operations or accounts that have been long past inactive.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Electronic Communication:</li>
                    <ul>
                        <li>You agree to be contacted by e-mail or by posting advertisements on the Site, and you agree that all agreements, declarations, statements and other communications provided to you electronically. </li>
                        <li>During the period of your membership, the "Sweetness Portal" will forward promotional emails to inform you of any changes, procedures or new promotional activities that may be added to the site.</li>
                        <li>You have the right as a user to confirm that you do not wish to receive promotional emails. You can cancel receiving such messages by clicking the Do not receive promotional messages option at the bottom of promotional messages and advertising.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>User Agreement and its amendments and the mechanism of our website:</li>
                    <ul>
                        <li>You acknowledge and agree that SWEETNESS PORTAL will notify you of any modification to the User Agreement, by which your obligations will be doubled or your rights will diminish in accordance with any amendments to the Terms of Use.</li>
                        <li>Your full agreement that Sweetness Portal shall have the right to make fundamental or sub-amendments to this Agreement without requiring additional consent from you at any time and immediately by posting a notice of the modification on the Site.</li>
                        <li>You know that the " Sweetness Portal " allows the sale and purchase of goods between sellers and buyers registered on the site.</li>
                        <li>Membership on the site is free. The site can impose the fees for the conclusion of transactions on the sellers when the sale of goods on the site, and there are optional advertising fees in case of request and use to promote the goods on the site.</li>
                        <li>Vendors must pay all fees due to the site within 10 days and up to the maximum after completing any successful sale.</li>
                        <li>Seller must properly inform the Site Management of any unsuccessful sale for any reason.</li>
                        <li>You have the right as a seller to cancel or redeem the value of any commissions charged or deducted for non-performing transactions.</li>
                        <li>Before you offer any item for sale on the site, you should review the details of the specific fees that will be charged to your operations and you will have to pay them immediately after issuing the monthly invoices for the account of your operations on the site.</li>
                        <li>The site has the right to make adjustments to the transaction fees as it deems appropriate and any amendment will be announced through your e-mail. The amendments may be temporary or continuous, whether on fees or details of shipping services and you must abide by their terms when they are announced. </li>
                        <li>All fees are charged in the local currency of the United Arab Emirates or you must pay all fees due on your operations in addition to any other taxes or expenses within 5 days from the date of the invoice sent to you by the site.</li>
                        <li>In the event that you are not obligated to pay the fees or any of the transactions you have performed on the Site, the Site and without any legal responsibility shall reserve the right to:</li>
                        <li class="list-style-none">1- Direct and issue a formal warning to the individual or organization he represents in case of delay. In the event that the financial dues are not paid within a maximum period of 5 days, after the individual or institution has been warned, the site is entitled to suspend your account temporarily or permanently and take the necessary measures.</li>
                        <li class="list-style-none">2- For accounts payable for more than one month, the amount of the unpaid amount will be deducted from your account registered with the website.</li>
                        <li class="list-style-none">3- Sweetness Portal reserves the right to take any necessary steps or steps including, but not limited to, legal claims for the collection of due fees and / or appropriate taxes and expenses. </li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Your personal information and process details:</li>
                    <ul>
                        <li>You have no obligation to grant the Site an unlimited, irrevocable, irrevocable, royaltyfree, licensed right to use information, personal material or otherwise, provided to us by the Site and / or posted on the Site through registration.</li>
                        <li>You are solely responsible for the information you submit or publish and the role of the site is limited to allowing you to display this information on the website pages and through its advertising channels. </li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Prohibited actions during on-site operations:</li>
                    <ul>

                        <li>You have not made payments for goods you have purchased, unless the seller has changed the specifications of the goods or there has been an update after you have made a purchase or a clear typographical error has occurred.</li>
                        <li>Failure to deliver the goods purchased from you as long as the buyer has complied with the conditions stated.</li>
                        <li>Trying to complete off-site transactions for goods offered on the site auction or offered for sale on the site without registering them as a successful transaction regardless of the method of delivery and payment. </li>
                        <li>
                            Use of communications resulting from purchases or sales on the Site, for the execution of sales transactions on other goods directly or indirectly from other sites via e-mail or other means of communication.
                        </li>
                        <li>Claim not to sell the goods, at a time that the site considers from its point of view that it has been successfully completed in accordance with the user agreement and the provisions of the site. </li>
                        <li>Manipulate or attempt to tamper with the Site in any manner including the prices of any goods or services on the Site either on your own or with the assistance of another party or user</li>
                        <li>Dodging and manipulating the structure of site fees and billing process, or site-owned fees.</li>
                        <li>Carry out any act that would disrupt the systems of maintaining the confidentiality of the information and data of the site, or the disclosure or use of any data or information for any reasons or actions not related. </li>
                        <li>Transfer your account on the Site and User Name to another party without notifying the Site Administration and its consent to such action. </li>
                        <li>Distribute or advertise illegal or large volume communications, or a hierarchy of messages. </li>
                        <li>Distribute any harmful software such as viruses, trojans, time bombs, or any similar software or technologies that may damage the site or the interests and properties of the users of the site.</li>
                        <li>Making a claim on the site or causing a total or partial loss to the services of the Internet operators or any other suppliers. </li>
                        <li>Carrying out any work that carries us or may (in our view) imposes enormous and unjustified burdens on our infrastructure and operating policy.</li>
                        <li>Intervention or attempt to interfere to influence the functioning of the site.</li>
                        <li>Attempting to hijack another user's account or to perform a scam on the site or their user accounts and other domains.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Undertake, declare and warrant that you:</li>
                    <ul>

                        <li>reached 16 years or more</li>
                        <li>that you have the authority to bind the institution "if you represent a foundation"</li>
                        <li>You are the sole and exclusive beneficial owner of all materials of any kind that you wish to display for sale on the Site, and that you have proof that you have the right and authority to trade and display such materials.</li>
                        <li>You will comply with all applicable local and international laws in this regard, as well as the applicable provisions regarding the use of the site. </li>
                        <li>The information and description of the goods to be published on the site for the purpose of sale are correct, accurate, detailed and illustrated. </li>
                        <li>You operate within the site's policy of maintaining the privacy of contact information and communication, you will not disclose the details of the information and contact addresses including phone numbers, e-mail addresses, e-mail addresses, anywhere on the site, including forms, Item or through any features of the e-mail of the site. </li>
                        <li>You will not use your information through the communications necessary to perform any transaction on the Site with the intent to complete additional sales off-site or< through another site.</li>
                        <li>You will not collect your information about other users, including their email address<br />and other means of communication.</li>
                        <li>You will not disclose or publish any personal information about users, or use them in a manner (in our opinion) that may violate their confidentiality, privacy and applicable laws. </li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Copyright:</li>
                    <ul>
                        <li>All content contained in the Site, including but not limited to text, graphic designs, logos, button icons, icons, tracks, digital loads, data collected and electronic software, is the property and rights reserved to either the Site or its users, They are protected by copyrighted copyright, trademarks, intellectual property rights and laws. </li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Buyer Protection: The website has a complete electronic processing complex to protect the buyer and aims to assist buyers to ensure that their purchases are protected from sellers' fraud on the site.</li>
                    <ul>
                        <li>In the event that the site's management receives the sender's notification, it will be necessary to verify the case and its details. If the site decides that the seller is the buyer of the fraud, the site will impose compensation on the buyer.</li>
                        <li>In addition to the above, the "Electronic Settlement Complex" may stop, cancel or block the Seller's access to the Site and / or cancel its membership, and the Seller shall have the right to charge Buyer's costs of shipping, ), And the site reserves the right to take additional steps if necessary, including legal steps. </li>
                        <li>You know and agree that if any goods from the buyer are returned to the site, and the item is illegal or illegal, then the site is entitled and then in its sole discretion to damage the goods or take any other necessary steps.</li>

                        <li>Shipping charges for return orders: (If the return is due to an error the seller is carrying or a problem with the product sent)</li>

                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>A. If the buyer objects during the time of receipt of the application</li>
                    <ul>
                        <li>The seller assumes the shipping fees for returning the item to him </li>
                        <li>In the event that the site does not agree to the return request submitted by the customer and the customer refused to receive the rejected item rejected by the site, the right to the site will be disposed of after 1 days from the date of rejection of the customer.</li>

                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>B. If the buyer objected during the receipt of the request (only if the return of the product is approved) </li>
                    <ul>
                        <li>The buyer pays the shipping charges that you paid to ship the item to him</li>
                        <li>The seller shall bear the shipping charges for returning the item to him</li>
                        <li>In the event that the site does not approve the return request submitted by the customer and the customer refuses to receive the rejected item rejected by the site, the right to the site will be disposed of after 1 days from the date of rejection of the customer.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Returned goods:</li>
                    <ul>
                        <li>The Site and any of its affiliates may dispose, destroy, liquidate or offer to sell any of the Seller's products / products as it deems fit within 2 days after receiving them from the Shipping Company in the event that such products / goods are returned or not received from Buyers For any reason, provided that the seller is notified of the products mentioned / goods returned by sending a message to the e-mail provided by the seller and the seller did not take the necessary procedures to receive them. This paragraph is an explicit authorization to the site to destroy and / or display products in liquidation for any products / goods mentioned above without any objection from the sellers and without any liability arising from the site. In addition, the Site may deduct from Seller's account or claim any fees or amounts incurred by damage and / or liquidation of the above-mentioned goods.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Responsibilities of the Sweetness Portal:</li>
                    <ul>
                        <li>The site is simply a channel for communication, where users can meet and interact with each other with a view to buying and selling goods</li>
                        <li>The website does not guarantee that the buyer or the seller will make the transaction or accept the seller return or refund them.</li>
                        <li>You will not hold the Site responsible to users for the content, verbs, reactions, goods or information they display</li>
                        <li>The Site is not responsible for the non-compliance or conclusion of a contract between (the users, nor is responsible for the transfer of legal ownership of the goods from the seller to the buyer). As the contract for the sale of any goods will be bilaterally between the seller and the buyer. And the site is not at any right moment nor Authority and interest in any goods, and not on the site obligation or claims regarding such goods concluded contract between the seller and the buyer.</li>
                        <li>We are not responsible for any unsatisfactory or late performance by any of the parties, nor for any loss, malfunction or delay due to goods unavailable or delayed delivery.</li>
                        <li>The Site is not required to mediate or resolve any dispute or dispute between users.</li>
                        <li>The site does not control and does not guarantee the quality, security and legitimacy of any goods that are advertised, nor does it control the honesty of users in terms of contents and what they include in the description of their goods, nor in the ability of sellers to market their goods. </li>
                        <li>Users must agree among themselves on the terms, terms and conditions of delivery, payment, among themselves. The Site is not responsible for such arrangements, and only provides optional services for shipping and facilitating payment. </li>
                        <li>The Site does not accept any claims arising out of errors or omissions, whether obtained by third party or third party.</li>
                        <li>The site excludes from its guarantees and terms and conditions any financial losses, defamation of reputation, and any special damages arising from your misuse or inability to use the website.</li>
                        <li>You exempt the Sweetness Portal and / or any of its officers and representatives from any claim, dispute, costs, damages, liability, and direct loss to any party arising out of an act done by the users of the Site, and you specifically waive in accordance with the laws Applicable to any claim in this regard. </li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Confidentiality:</li>
                    <ul>
                        <li>The site takes physical, regulatory and technological standards to protect against the unauthorized access and preservation of your personal identity. Knowing that the Internet is not a safe way, your confidential personal information can not be guaranteed 100% </li>
                        <li>The site will provide your contact information, "mobile and e-mail to the second party to complete the transaction, where the communication between the parties to complete the process of shipping and payment. </li>
                        <li>The Site has no control over the actions of any third party, such as other web pages linked to this Site, or third parties claiming to represent you or represent others. You know and agree that your information may be used to provide services to you on the Site, to send marketing messages to you, and that the confidentiality agreement on this Site governs the collection, processing, use and transfer of your personally identifiable information.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Revoke User Agreement: By using the User Agreement and the law, you may immediately and without liability take the time to determine your activity, remove your bids in auctions, delete your inventory of sales, and warn other users about your activities. To terminate or terminate your membership and / or to limit your access to the Site without prejudice to your other rights and legitimate means of recovering your rights in the event of:</li>
                    <ul>
                        <li>If the employment agreement is violated </li>
                        <li>If sweetness portal can not authenticate any of your submitted information.</li>
                        <li>If you decide to resolve your e-business dealings, your activities may cause you or other users and the sweetness portal to deal with the electronic legal issues.</li>
                        <li>The Sweetness portal may, according to its assessment, restore the activity of the suspended users. The user who has permanently suspended or withdrawn his membership may not be able to register or attempt to register at the sweetness portal website for electronic handling or use of the Website in any way that is important The circumstances were, until he was allowed to resume his activity at the sweetness portal. However, if you violate this User Agreement, Sweetness Portal retains the right to recover any amounts due to you and any damages and damages caused by the Sweetness Portal have the right to take legal action and / or recourse to the courts of United Arab Emirates to file a criminal case Against you as sweetness portal considers transaction appropriate.</li>
                        <li>Your breach or breach of this User Agreement does not oblige the Sweetness Portal to handle the waiver of its right to take appropriate action for such and such other breach. Sweetness Portal does not guarantee that it will take action against all violations of the User Agreement.</li>
                    </ul>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Revoke User Agreement: By using the User Agreement and the law, you may immediately and without liability take the time to determine your activity, remove your bids in auctions, delete your inventory of sales, and warn other users about your activities. To terminate or terminate your membership and / or to limit your access to the Site without prejudice to your other rights and legitimate means of recovering your rights in the event of:</li>
                    <ul>
                        <li>If the employment agreement is violated </li>
                        <li>If sweetness portal can not authenticate any of your submitted information.</li>
                        <li>If you decide to resolve your e-business dealings, your activities may cause you or other users and the sweetness portal to deal with the electronic legal issues.</li>
                        <li>The Sweetness portal may, according to its assessment, restore the activity of the suspended users. The user who has permanently suspended or withdrawn his membership may not be able to register or attempt to register at the sweetness portal website for electronic handling or use of the Website in any way that is important The circumstances were, until he was allowed to resume his activity at the sweetness portal. However, if you violate this User Agreement, Sweetness Portal retains the right to recover any amounts due to you and any damages and damages caused by the Sweetness Portal have the right to take legal action and / or recourse to the courts of United Arab Emirates to file a criminal case Against you as sweetness portal considers transaction appropriate.</li>
                        <li>Your breach or breach of this User Agreement does not oblige the Sweetness Portal to handle the waiver of its right to take appropriate action for such and such other breach. Sweetness Portal does not guarantee that it will take action against all violations of the User Agreement.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>No Warranty: The site provides its site and services with the sale of the goods on it, and as available, without its adoption and without warranty, not confidential or apparent, including the title deed, its validity for use, quality, safety and authenticity. The site does not guarantee its accuracy, reliability or completeness. The information, texts, designs and means of communication used through the site does not guarantee the repair of the glitches and does not guarantee the absence of the site from viruses and any other things that could harm the users. It is the nature of communication through the Internet that the information in it is vulnerable to entry and spoil it and cause delay. From time to time, the site may be unavailable for repair, maintenance and development. You agree that the Sweetness Portal is not obligated to support the site, and that you are publicly consenting to your visit to the site and to take your own risks.</li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>identification of responsibilities: As permitted by law, the Sweetness Portal, its employees, managers, agents, affiliates and processors will not be liable for any direct loss or damage arising out of your use of the Site. If you are not satisfied with the site or any of the contents of the material, the solution is not to continue using it, moreover you agree that any unauthorized use of the site and its services, because of your negligence will cause harm to the site and the site will then have to resort to the terms and conditions of the user agreement. </li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Security: You agree to provide security for the Site, its directors, employees, agents and equipment, and to protect them from any damage they may suffer due to claims, losses, malfunctions, costs and expenses incurred due to your violation of the User Agreement or your breach of any law or amendments or infringement of the rights of third parties. </li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>Relationship and notices: None of the terms of the User Agreement indicates a partnership between you and the Sweetness Portal, and you are not authorized to bind Sweetness Portal processing in any way and that any notices you wish to send to the Site must be emailed to The site responds to the email. You acknowledge and agree that any notices sent to you from the Site will be posted on the Site or by the email you provided to us during the registration process, which you are supposed to have received after 72 hours of dispatch. We can send you a standard mail notification at the address you provided and assume that it arrives after 7 days of sending.</li>
                </ul>
            </div>

            <div class="terms-of-ul">
                <ul>
                    <li>General information: If any provision of this User Agreement is invalid or void or for any reason no longer applicable, such paragraph shall not invalidate the rest of the paragraphs of the Agreement. This Agreement (which is amended from time to time as per its terms) sets out all the outlines of the understanding and agreement between you and the Sweetness Portal dealing with: </li>
                    <ul>
                        <li>No person who is not a party to this User Agreement shall have the right to impose any terms or conditions therein.</li>
                        <li>If the User Agreement is translated into any language other than English, either on the Site or in other ways, the English text shall prevail.</li>
                    </ul>
                </ul>
            </div>


            <div class="terms-of-ul">
                <ul>
                    <li>Governing Law and Legislation: This User Agreement is governed by and construed in accordance with the law of the United Arab Emirates and is fully and fully subject to applicable legislation in the courts of the country. This paragraph is an alternative to be used in the event that this User Agreement expires or is terminated for any reason.</li>
                </ul>
            </div>


        </div>

        <div class="ar-box-terms">


            <div class="container main_box_cont">
                <p class="text-right">
                    ‫ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ( "ﻧﺤﻦ" أو " أﻧﺎ " أو "ﻣﻮﻗﻌﻨﺎ"أو "ﻣﻠﺤﻘﺎﺗﮫ" أو "اﻟﺸﺮﻛﺔ" أو " ﺳﻮﯾﺘﻨﺲ " ) ﻧﻘﻮم ﺑﺘﺸﻐﯿﻞ ﻣﻮﻗﻊ <a href="#"> www.sweetness.ae</a> وﺗﻄﺒﯿﻘﺎت اﻟﮭﺎﺗﻒ اﻟﻤﺘﺤﺮك ﻟﻠﻤﻮﻗﻊ و اﻟﺸﺮﻛﺔ أو ﻣﺎﯾﻤﺜﻠﻨﺎ ﻣﻦ ﺧﻼل ﺻﻔﺤﺎت اﻟﺘﻮاﺻﻞ اﻻﺟﺘﻤﺎﻋﻲ اﻟﺘﺎﺑﻌﺔ ﻟﻨﺎ.
                </p>
                <p class="text-right">‫‪وھﺬه اﻟﺼﻔﺤﺔ ﺗﻄﻠﻌﻚ ﻋﻠﻰ اﻟﺸﺮوط واﻷﺣﻜﺎم اﻟﻤﻨﺺ ﻋﻠﯿﮭﺎ ﻓﺎﻟﻤﻮﻗﻊ وﻛﻞ ﻣﻠﺤﻘﺎﺗﮫ ﻛﺎﻵﺗﻲ :</p>

                <div class="f-tream-one">
                    <ol>
                        <li><span class="oneterms">1-</span>	<span class="oneterms-s">اﻟﺒﻨﻮد واﻟﺸﺮوط اﻟﺘﻲ ﺗﺨﺺ إﺳﺘﺨﺪاﻣﻚ و دﺧﻮﻟﻚ ﻟﺼﻔﺤﺎت ﻣﻮﻗﻊ "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" Sweetness وﻛﺎﻓﺔ اﻟﺼﻔﺤﺎت و اﻟﺮواﺑﻂ واﻷدوات واﻟﺨﻮاص اﻟﻤﺘﻔﺮﻋﺔ ﻋﻦ ﻣﻮﻗﻌﻨﺎ. إن إﺳﺘﺨﺪاﻣﻚ ﻟﻤﻮﻗﻌﻨﺎ ھﻮ ﻣﻮاﻓﻘﺔ ﻣﻨﻚ ﻋﻠﻰ اﻟﻘﺒﻮل ﺑﺒﻨﻮد وﺷﺮوط ھﺬه اﻹﺗﻔﺎﻗﯿﺔ واﻟﺬي ﯾﺘﻀﻤﻦ ﻛﺎﻓﺔ اﻟﺘﻔﺎﺻﯿﻞ أدﻧﺎه وھﻮ ﺗﺄﻛﯿﺪ ﻹﻟﺘﺰاﻣﻚ ﺑﺎﻻﺳﺘﺠﺎﺑﺔ ﻟﻤﻀﻤﻮن ھﺬه اﻹﺗﻔﺎﻗﯿﺔ اﻟﺨﺎﺻﺔ ﺑﺸﺮﻛﺔ ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ </span></li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">2-</span>	<span class="oneterms-s">ﺷﺮوط و أﺣﻜﺎم اﻟﻌﻀﻮﯾﺔ : </span>
                            <ol>
                                <li><span class="oneterms1">1)</span>	<span class="oneterms2">ﯾﺘﻢ ﻣﻨﺢ اﻟﻌﻀﻮﯾﺔ ﻓﺎﻟﻤﻮﻗﻊ أو ﻣﻠﺤﻘﺎﺗﮫ ﻓﻘﻂ ﻟﻤﻦ ﺗﺠﺎزوت أﻋﻤﺎرھﻢ 16 ﻋﺎم . وﻣﻮﻗﻊ ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ﻟﮫ اﻟﺤﻖ اﻟﻜﺎﻣﻞ ﺑﺈﻟﻐﺎء اي ﺣﺴﺎب ﻟﻌﻀﻮ ﻟﻢ ﯾﺒﻠﻎ اﻟـ 16 ﻋﺎم.</span></li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﻋﺪم أﺣﻘﯿﺔ أي ﺷﺨﺺ ﺑﺈﺳﺘﺨﺪام اﻟﻤﻮﻗﻊ إذا ﺗﻤﺖ إﻟﻐﺎء ﻋﻀﻮﯾﺘﮫ.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">ﻓﻲ ﺣﺎل ﻗﯿﺎم أي ﻣﺆﺳﺴﺔ ﺗﺠﺎرﯾﺔ ﺑﺎﻟﺘﺴﺠﯿﻞ ﻛﻤﺴﺘﺨﺪم، ﻓﺈن ﻣﺆﺳﺴﺘﮫ اﻟﺘﺠﺎرﯾﺔ ﺗﻜﻮن ﻣﻠﺰﻣﺔ ﺑﻜﺎﻓﺔ واﻟﺸﺮوط اﻟﻮاردة ﻓﻲ ھﺬه اﻹﺗﻔﺎﻗﯿﺔ.</span></li>
                                <li><span class="oneterms1">4)</span>	<span class="oneterms2">ﯾﻨﺒﻐﻲ ﻋﻠﯿﻚ اﻹﻟﺘﺰام ﺑﻜﺎﻓﺔ اﻟﻘﻮاﻧﯿﻦ اﻟﻤﻌﻤﻮل ﺑﮭﺎ ﻟﺘﻨﻈﯿﻢ اﻟﺘﺠﺎرة ﻋﺒﺮ اﻻﻧﺘﺮﻧﺖ.</span></li>
                                <li><span class="oneterms1">5)</span>	<span class="oneterms2">ﯾﺠﺐ ﻋﻠﻰ اﻟﻤﺴﺘﺨﺪﻣﯿﻦ أﻓﺮاد و ﻣﺆﺳﺴﺎت اﻹﻟﺘﺰام ﺑﺎﻟﻌﻘﻮد اﻟﺘﺠﺎرﯾﺔ اﻟﻤﺒﺮﻣﺔ ﻣﻊ اﻷﻋﻀﺎء.</span></li>
                                <li><span class="oneterms1">6)</span>	<span class="oneterms2">ﻻ ﯾﺤﻖ ﻷي ﻋﻀﻮ ﺑﺎﻟﻤﻮﻗﻊ ﺷﺮاء ﻣﻌﺮوﺿﺎت ﻣﻤﻨﻮﻋﺔ أو ﻣﺸﺒﻮھﺔ أو ﻣﺴﺮوﻗﺔ أو ﺗﺨﺎﻟﻒ اﻟﻘﻮاﻧﯿﻦ اﻟﻤﻌﻤﻮل ﺑﮭﺎ ﺑﻮزارات و ھﯿﺌﺎت ﻣﺆﺳﺴﺎت اﻟﺘﺠﺎرة اﻟﻤﺤﻠﯿﺔ اﻟﺤﻜﻮﻣﯿﺔ، وﻓﻲ ﺣﺎل ﺛﺒﻮت ذﻟﻚ ﻓﮭﻮ ﯾﻀﻊ ﻧﻔﺴﮫ ﺿﻤﻦ طﺎﺋﻠﺔ اﻟﻤﺴﺆوﻟﯿﺔ اﻟﺸﺨﺼﯿﺔ ﺑﺪون ﺗﺤﻤﻠﻨﺎ اﻟﻤﺴﻮؤﻟﯿﺔ.</span></li>
                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>

                        <li><span class="oneterms">3-</span>	<span class="oneterms-s">اﻟﺘﺴﺠﯿﻞ وإﻧﺸﺎء ﺣﺴﺎب ﺷﺨﺼﻲ:</span></li>
                        <li>
                            <span class="oneterms-inn">ﻓﻮر ﺗﻘﺪﯾﻢ طﻠﺐ اﻟﺘﺴﺠﯿﻞ ﻟﻠﺤﺼﻮل ﻋﻠﻰ ﻋﻀﻮﯾﺔ ﻓﻲ اﻟﻤﻮﻗﻊ ﺗﻜﻮن ﻣﻄﺎﻟﺒﺎً ﺑﺎﻹﻓﺼﺎح ﻋﻦ ﻣﻌﻠﻮﻣﺎت ﻣﺤﺪدة وإﺧﺘﯿﺎر اﺳﻢ ﻣﺴﺘﺨﺪم وﻛﻠﻤﺔ ﻣﺮور ﺳﺮﯾﺔ ﻻﺳﺘﻌﻤﺎﻟﮭﺎ ﻋﻨﺪ اﻟﺪﺧﻮل ﻟﻠﻤﻮﻗﻊ. وﻋﻨﺪ ﻗﺒﻮل طﻠﺐ اﻟﺘﺴﺠﯿﻞ ﺳﺘﻌﺘﺒﺮ ﻋﻀﻮا ﺑﺎﻟﻤﻮﻗﻊ وﺑﺬﻟﻚ ﺗﻜﻮن ، ﺗﻜﻮن ﻗﺪ واﻓﻘﺖ ﻋﻠﻰ :</span>
                            <ol>
                                <li><span class="oneterms1">1)</span>	<span class="oneterms2">أن ﺗﻜﻮن ﻣﺴﺆوﻻً ﻋﻦ اﻟﻤﺤﺎﻓﻈﺔ ﻋﻠﻰ ﺳﺮﯾﺔ ﻣﻌﻠﻮﻣﺎت ﺣﺴﺎﺑﻚ وﻛﻠﻤﺔ اﻟﻤﺮور اﻟﺴﺮﯾﺔ وﺗﺤﺪﯾﺪ اﻷﺷﺨﺎص اﻟﻤﺴﻤﻮح ﻟﮭﻢ ﺑﺎﻟﻮﺻﻮل واﺳﺘﺨﺪام ﺣﺴﺎﺑﻚ ﺑﺎﻟﻤﻮﻗﻊ.</span></li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﻟﻦ ﯾﻜﻮن "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﺑﺄي ﺣﺎل ﻣﻦ اﻷﺣﻮال ﻣﺴﺆوﻻً ﻋﻦ أي ﺧﺴﺎرة ﻗﺪ ﺗﻠﺤﻖ ﺑﻚ ﺑﺸﻜﻞ ﻣﺒﺎﺷﺮ أو ﻏﯿﺮ ﻣﺒﺎﺷﺮ ﻣﻌﻨﻮﯾﺎ أو ﻣﺎدﯾﺎ ﻧﺘﯿﺠﺔ ﻛﺸﻒ ﻣﻌﻠﻮﻣﺎت إﺳﻢ اﻟﻤﺴﺘﺨﺪم أو ﻛﻠﻤﺔ اﻟﺪﺧﻮل.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">أن ﺗﻜﻮن ﺑﺬﻟﻚ ﻣﻮاﻓﻘﺎً ﻋﻠﻰ إﻋﻼم "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﻓﻲ ﺣﺎل ﺣﺼﻞ أي اﺧﺘﺮاق ﻟﺤﺴﺎﺑﻚ أو ﺣﺼﻮل أي ﻣﺴﺘﺨﺪم ﻏﯿﺮ ﻣﻔﻮض ﺑﮫ ﻟﻜﻠﻤﺔ دﺧﻮﻟﻚ أو ﺣﺴﺎﺑﻚ أو أي اﺧﺘﺮاق آﺧﺮ ﻟﻤﻌﻠﻮﻣﺎﺗﻚ اﻟﺴﺮﯾﺔ.</span></li>
                                <li><span class="oneterms1">4)</span> <span class="oneterms2"> ﺑﺘﻌﻮﯾﺾ ﻣﻮﻗﻊ "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﻋﻦ أي ﺧﺴﺎﺋﺮ ﻣﺒﺎﺷﺮة أوﻏﯿﺮ ﻣﺒﺎﺷﺮة ﻗﺪ ﺗﻠﺤﻖ ﺑﻨﺎ ﻧﺘﯿﺠﺔ ﻷي اﺳﺘﺨﺪام ﻏﯿﺮ ﺷﺮﻋﻲ أو ﺣﻘﯿﻘﻲ أو ﻣﻔﻮض ﻟﺤﺴﺎﺑﻚ ﻣﻦ طﺮﻓﻚ أو ﻣﻦ طﺮف آﺧﺮ.</span></li>
                                <li><span class="oneterms1">5)</span>	<span class="oneterms2">أﻧﻚ ﻗﻤﺖ ﺑﺎﻟﻤﻮاﻓﻘﺔ ﻋﻠﻰ اﻹﻓﺼﺎح ﺑﻤﻌﻠﻮﻣﺎت ﺣﻘﯿﻘﯿﺔ وﺻﺤﯿﺤﺔ وﻛﺎﻣﻠﺔ ﻋﻦ ﻧﻔﺴﻚ ﺣﺴﺒﻤﺎ ھﻮ ﻣﻄﻠﻮب ﻓﻲ اﺳﺘﻤﺎرة اﻟﺘﺴﺠﯿﻞ.</span></li>
                                <li><span class="oneterms1">6)</span>	<span class="oneterms2">ﯾﻠﺘﺰم اﻟﻤﻮﻗﻊ ﺑﺎﻟﺘﻌﺎﻣﻞ ﻣﻊ ﻣﻌﻠﻮﻣﺎﺗﻚ اﻟﺸﺨﺼﯿﺔ وﻋﻨﺎوﯾﻦ اﻹﺗﺼﺎل ﺑﻚ ﺑﺴﺮﯾّﺔ ﺗﺎﻣﺔ ﻣﻊ اﻷﻋﻀﺎء اﻵﺧﺮﯾﻦ وﯾﺘﻢ ﺗﺰوﯾﺪ اﻷﻋﻀﺎء ﺑﻤﻌﻠﻮﻣﺎت اﻹﺗﺼﺎل ﺑﻚ ﻓﻘﻂ ﻓﻮر إﺗﻤﺎم اﻟﻌﻤﻠﯿﺎت اﻟﺘﺠﺎرﯾﺔ.</span></li>
                                <li>
                                    <span class="oneterms1">7)</span>	<span class="oneterms2">أﻧﺖ ﻣﻠﺰﻣﺎً ﺑﺎﻟﺤﻔﺎظ ﻋﻠﻰ ﺑﯿﺎﻧﺎت اﻟﺘﺴﺠﯿﻞ وﺗﺤﺪﯾﺜﮭﺎ ، وإذا ﻣﺎ أﻓﺼﺤﺖ ﻋﻦ ﻣﻌﻠﻮﻣﺎت ﻏﯿﺮ ﺣﻘﯿﻘﯿﺔ أو ﻏﯿﺮ ﺻﺤﯿﺤﺔ أوﻏﯿﺮ راھﻨﺔ أوﻏﯿﺮ ﻛﺎﻣﻠﺔ او ﻣﺨﺎﻟﻔﺔ ﻟﻤﺎ ﺟﺎء ﻓﻲ اﺗﻔﺎﻗﯿﺔ اﻟﻤﺴﺘﺨﺪم، ﻓﺈن ﯾﻜﻮن ﻟﻤﻮﻗﻌﻨﺎ اﻻﺣﻘﯿﺔ اﻟﻜﺎﻣﻠﺔ ﻓﻲ وﻗﻒ أو ﺗﺤﺪﯾﺪ أو إﻟﻐﺎء ﻋﻀﻮﯾﺘﻚ و ﺣﺴﺎﺑﻚ ﻓﻲ اﻟﻤﻮﻗﻊ، وذﻟﻚ دون اﻟﺤﺎق اﻷﺿﺮار ﺑﺤﻘﻮق "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ"اﻷﺧﺮى ووﺳﺎﺋﻠﮫ اﻟﻤﺸﺮوﻋﺔ ﻓﻲ اﺳﺘﺮداد ﺣﻘﻮﻗﮫ.</span>
                                </li>
                                <li>
                                    <span class="oneterms1">8)</span>	<span class="oneterms2">ﻓﻲ ﺣﺎﻟﺔ أن اﻟﻤﻘﺪم ﻟﻄﻠﺐ اﻟﺘﺴﺠﯿﻞ ﯾﻤﺜﻞ ﻣﺆﺳﺴﺔ ﺗﺠﺎرﯾﺔ ﻓﻼﺑﺪ ﻣﻦ ﺗﺰوﯾﺪ ﻛﺎﻓﺔ اﻟﻤﻌﻠﻮﻣﺎت واﻟﻮﺛﺎﺋﻖ اﻟﻤﻄﻠﻮﺑﺔ اﻟﺘﻲ ﺗﺘﻀﻤﻦ رﺧﺼﺘﻚ اﻟﺘﺠﺎرﯾﺔ، ووﺛﺎﺋﻖ أﺧﺮى ﻟﻠﻤﺆﺳﺴﺔ و/أو وﺛﺎﺋﻖ ﺗﻈﮭﺮ ﻣﺴﺆوﻟﯿﺔ أي ﺷﺨﺺ ﯾﺘﺼﺮف ﻧﯿﺎﺑﺔ ﻋﻨﻚ.</span>

                                </li>
                                <li>
                                    <span class="oneterms1">9)</span>	<span class="oneterms2">ﻓﻲ ﺣﺎﻟﺔ ﻋﺪم اﻹﻟﺘﺰام ﺑﺄي ﻣﻤﺎ ورد إﻋﻼه ﻓﺈن ﻹدارة اﻟﻤﻮﻗﻊ اﻟﺤﻖ ﻓﻲ إﯾﻘﺎف أو إﻟﻐﺎء ﻋﻀﻮﯾﺘﻚ و ﺣﺠﺒﻚ ﻋﻦ اﻟﻤﻮﻗﻊ. وﻧﺤﺘﻔﻆ ﻛﺬﻟﻚ ﺑﺎﻟﺤﻖ ﻓﻲ إﻟﻐﺎء أي ﺣﺴﺎﺑﺎت ﻏﯿﺮ ﻣﺆﻛﺪة وﻏﯿﺮ ﻣﺜﺒﺘﺔ أو ﻋﻤﻠﯿﺎت أو ﺣﺴﺎﺑﺎت ﻣﺮ ﻋﻠﯿﮭﺎ ﻣﺪة طﻮﯾﻠﺔ دون ﻧﺸﺎط.</span>
                                </li>


                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">4-</span>	<span class="oneterms-s">اﻟﺘﻮاﺻﻞ اﻹﻟﻜﺘﺮوﻧﻲ :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span>	<span class="oneterms2">ﻣﻮاﻓﻘﺘﻚ اﻟﺘﺎﻣﺔ ﻋﻠﻰ أن ﯾﺘﻢ اﻟﺘﻮاﺻﻞ ﻣﻌﻚ ﻋﺒﺮ اﻟﺒﺮﯾﺪ اﻹﻟﻜﺘﺮوﻧﻲ، أو ﻣﻦ ﺧﻼل ﺑﺚ إﻋﻼﻧﺎت ﺗﺮوﯾﺠﺔ ﻋﻠﻰ اﻟﻤﻮﻗﻊ، وأﻧﺖ ﻣﻮاﻓﻖ ﻋﻠﻰ أن ﺟﻤﯿﻊ اﻻﺗﻔﺎﻗﯿﺎت واﻹﻋﻼﻧﺎت واﻟﺒﯿﺎﻧﺎت واﻻﺗﺼﺎﻻت اﻷﺧﺮى اﻟﺘﻲ ﺗﺰود ﺑﮭﺎ اﻟﻜﺘﺮوﻧﯿﺎً.</span>

                                </li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﺳﯿﻘﻮم "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﺧﻼل ﻓﺘﺮة ﻋﻀﻮﯾﺘﻚ ﺑﺈرﺳﺎل رﺳﺎﺋﻞ إﻟﻜﺘﺮوﻧﯿﺔ ﺗﺮوﺟﯿﺔ ﻟﺘﻌﺮﯾﻔﻚ ﺑﺄي ﺗﻐﯿﺮات أو إﺟﺮاءات أو ﻧﺸﺎطﺎت دﻋﺎﺋﯿﺔ ﺟﺪﯾﺪة ﻗﺪ ﺗﻀﺎف إﻟﻰ اﻟﻤﻮﻗﻊ.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">ﻟﻚ اﻟﺤﻖ ﻛﻤﺴﺘﺨﺪم ﺑﺘﺄﻛﯿﺪ ﻋﺪم رﻏﺒﺘﻚ ﻓﻲ ﺗﻠﻘﻲ اﻟﺮﺳﺎﺋﻞ اﻹﻟﻜﺘﺮوﻧﯿﺔ اﻟﺪﻋﺎﺋﯿﺔ، وﯾﻤﻜﻨﻚ إﻟﻐﺎء ﺗﻠﻘﻲ ﻣﺜﻞ ھﺬه اﻟﺮﺳﺎﺋﻞ، وذﻟﻚ ﺑﺎﻟﻀﻐﻂ ﻋﻠﻰ ﺧﯿﺎر طﻠﺐ ﻋﺪم إﺳﺘﻼم رﺳﺎﺋﻞ ﺗﺮوﯾﺠﯿﺔ واﻟﻤﺘﻮﻓﺮة ﻓﻲ أﺳﻔﻞ اﻟﺮﺳﺎﺋﻞ اﻟﺘﺮوﯾﺠﯿﺔ و اﻹﻋﻼﻧﯿﺔ .</span></li>
                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>

                        <li>
                            <span class="oneterms">5-</span>	<span class="oneterms-s">اﺗﻔﺎﻗﯿﺔ اﻟﻤﺴﺘﺨﺪم وﺗﻌﺪﯾﻼﺗﮭﺎ و أﻟﯿﺔ ﻋﻤﻞ ﻣﻮﻗﻌﻨﺎ :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span>	<span class="oneterms2">أﻧﺖ ﺗﻌﻠﻢ وﻣﻮاﻓﻖ ﻋﻠﻰ أن ﯾﻘﻮم ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ﺑﺈﻋﻼﻣﻚ ﻋﻦ أي ﺗﻌﺪﯾﻞ ﻋﻠﻰ اﺗﻔﺎﻗﯿﺔ اﻟﻤﺴﺘﺨﺪم، وﺑﻤﻮﺟﺒﮫ ﺗﺘﻀﺎﻋﻒ اﻟﺘﺰاﻣﺎﺗﻚ أو ﺗﺘﻀﺎءل ﺣﻘﻮﻗﻚ وﻓﻘﺎً ﻷي ﺗﻌﺪﯾﻼت ﻗﺪ ﺗﺠﺮى ﻋﻠﻰ إﺗﻔﺎﻗﯿﺔ اﻹﺳﺘﺨﺪام.</span>
                                </li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﻣﻮاﻓﻘﺘﻚ اﻟﺘﺎﻣﺔ ﻋﻠﻰ أن "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" وﺑﻤﻄﻠﻖ ﺻﻼﺣﯿﺘﮫ ودون ﺗﺤﻤﻠﮫ اﻟﻤﺴﺆوﻟﯿﺔ اﻟﻘﺎﻧﻮﻧﯿﺔ أن ﯾﺠﺮي ﺗﻌﺪﯾﻼت أﺳﺎﺳﯿﺔ أو ﻓﺮﻋﯿﺔ ﻋﻠﻰ ھﺬه اﻹﺗﻔﺎﻗﯿﺔ دون أن ﯾﺘﻄﻠﺐ ذاك ﻣﻮاﻓﻘﺔ إﺿﺎﻓﯿﺔ ﻣﻦ طﺮﻓﻚ، وذﻟﻚ ﻓﻲ أي وﻗﺖ وﺑﺄﺛﺮ ﻓﻮري، ﺑﻮاﺳﻄﺔ ﺑﺚ إﻋﻼن ﻋﻦ اﻟﺘﻌﺪﯾﻞ ﻋﻠﻰ اﻟﻤﻮﻗﻊ.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">أنت تعلم أن "مجمع سویتنس للتعامل الإلكتروني" یتیح بیع وشراء البضائع بین البائعین والمشترین المسجلین بالموقع.</span></li>
                                <li>
                                    <span class="oneterms1">4)</span>	<span class="oneterms2">
                                        العضویة على الموقع مجانیة. ویمكن للموقع أن یفرض رسوم إبرام الصفقات على البائعین حین تباع بضاعتھم على الموقع،
                                        وھناك رسوم إعلانات إختیاریة في حالة طلبھا و إستخدامھا لترویج البضائع على الموقع.
                                    </span>
                                </li>
                                <li><span class="oneterms1">5)</span>	<span class="oneterms2">على البائعین دفع كافة الرسوم المستحقة للموقع خلال 10 یوما وبحد أقصى بعد استكمال أي عملیة بیع ناجحة.</span></li>
                                <li><span class="oneterms1">6)</span>	<span class="oneterms2">على البائع أن یبلغ إدارة الموقع حسب الأصول بأي عملیة بیع غیر ناجحة لأي سبب كان.</span></li>
                                <li><span class="oneterms1">7)</span>	<span class="oneterms2">لك الحق كبائع بإلغاء أو إسترداد قیمة أي عمولات إحتسبت أو خصمت على عملیات لم تتم.</span></li>
                                <li>
                                    <span class="oneterms1">8)</span>	<span class="oneterms2">
                                        قبل عرضك لأي سلعة للبیع في الموقع علیك مراجعة تفاصیل الرسوم المحددة التي سیتم إحتسابھا على عملیاتك ویترتب علیك
                                        سدادھا فور إصدار الفواتیر الشھریة الخاصة بحساب عملیاتك على الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">9)</span>	<span class="oneterms2">
                                        للموقع الحق بعمل تعدیلات على رسوم العملیات بما یراه مناسبا وسیتم الإعلان عن أي تعدیل من خلال مراسلتك على بریدك
                                        الإلكتروني، و قد تكون التعدیلات مؤقتة أو مستمرة سواء كانت على الرسوم أو تفاصیل خدمات الشحن وعلیك الالتزام بھا وفق
                                        بنودھا حین یتم الإعلان عنھا.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">10)</span>	<span class="oneterms2">
                                        كافة الرسوم تحتسب بالعملة المحلیة لدولة الإمارات العربیة المتحدة او علیك دفع كافة الرسوم المستحقة على عملیاتك بالموقع
                                        مضافاً إلیھا أي ضرائب أو نفقات أخرى، وذلك في غضون 5 أیام من تاریخ الفاتورة المرسلة إلیك من الموقع، على أن یتم
                                        السداد بواسطة الوسائل المعتمدة من الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">11)</span>	<span class="oneterms2">
                                        في حال عدم إلتزامك بدفع الرسوم أو أي من عملیات قمت بھا على الموقع، فإن الموقع وبدون أدنى مسؤولیة قانونیة یحتفظ
                                        بحقھ في :
                                    </span>
                                    <ol>
                                        <li>
                                            <span class="oneterms1">1.</span>	<span class="oneterms2">
                                                توجیھ واصدارإنذار رسمي للفرد أو المؤسسة التي یمثلھا في حال التاخر عن الموعد المحدد .
                                                في حال لم یتم سداد المستحقات المالیة في مدة أقصاھا 5 أیام وذلك بعد تم انذار الفرد أو المؤسسة فیحق للموقع
                                                إیقاف حسابك بشكل مؤقت أو دائم و إتخاذ الإجراءات اللارزمة.
                                            </span>
                                        </li>
                                        <li>
                                            <span class="oneterms1">2.</span>	<span class="oneterms2">
                                                بالنسبة للحسابات المستحقة لأكثر من شھر، سیتم إقتطاع قیمة المبلغ الغیر مدفوع من حسابك المسجل لدى الموقع
                                                ولا مانع لدیك من قیام مجمع سویتنس للتعامل الإلكتروني بذلك حسب الأصول مع ضرورة إبلاغك عبر البرید
                                                الإلكتروني بإتمام عملیة السحب.
                                                - یحتفظ "مجمع سویتنس للتعامل الإلكتروني" بحقھ لأخذ أي إجرائات أو خطوات ضروریة تتضمن ولا تقتصر
                                                على الدعاوى القانونیة لتحصیل الرسوم المستحقة و/أو الضرائب والنفقات الملائمة.
                                            </span>
                                        </li>
                                    </ol>

                                </li>

                            </ol>
                        </li>
                    </ol>
                </div>








                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">6-</span> <span class="oneterms-s">معلوماتك الشخصیة ومعلومات تفاصیل العملیات :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        لا مانع لدیك بأن تمنح الموقع حقاً غیر محدود ودائم وغیر قابل للإلغاء، ومعفي من المصاریف، و مرخص باستخدام معلومات
                                        أو مواد شخصیة أو غیر ذلك، زودتنا بھا للموقع و/أو أعلنتھا على الموقع من خلال التسجیل.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        أنت الوحید المسؤول عن المعلومات التي قمت بإرسالھا أو نشرھا وینحصر دور الموقع بالسماح لك بعرض ھذه المعلومات
                                        على صفحات الموقع ومن خلال قنواتھ الإعلانیة .
                                    </span>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <span class="oneterms-inn"><strong>الإجراءات المحظورة خلال العملیات في الموقع :</strong></span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1.</span> <span class="oneterms2">
                                        عدم تسدید ما علیك من دفعات لبضائع قمت بشرائھا، ما لم یكن البائع قام بتغییر مواصفات البضاعة أو طرأت
                                        مستجدات بعد أن قمت بالشراء، أو حدث خطأ مطبعي واضح.
                                    </span>
                                </li>
                                <li><span class="oneterms1">2.</span> <span class="oneterms2">عدم تسلیمك لسلعة تم شراؤھا منك طالما إلتزم المشتري بالشروط المعلنة.</span></li>
                                <li>
                                    <span class="oneterms1">3.</span> <span class="oneterms2">
                                        المحاولة بإتمام صفقات خارج الموقع لسلع عرضت ضمن مزاد الموقع أو عرضت للبیع على الموقع بدون تسجیلھا
                                        كعملیة ناجحة بغض النظر عن طریقة التسلیم و السداد.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4.</span> <span class="oneterms2">
                                        استخدام الاتصالات الناتجة عن عملیات الشراء أو البیع على الموقع، لإنجاز صفقات بیع على بضائع أخرى بشكل
                                        مباشر أو غیر مباشر من مواقع أخرى عبر البرید الإلكتروني أو غیره من وسائل الإتصال.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5.</span> <span class="oneterms2">
                                        الإدعاء بعدم بیع البضاعة، في الوقت الذي یرى الموقع من وجھة نظره أنھا تمت بنجاح وفق اتفاقیة المستخدم
                                        وأحكام الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">6.</span> <span class="oneterms2">
                                        التلاعب أو محاولة التلاعب على الموقع بأي طریقة بما في ذلك أسعار أي بضاعة أو الخدمات عل الموقع سواء
                                        بمفردك أو بمساعدة طرف أخر أو مستخدم آخر
                                    </span>
                                </li>
                                <li><span class="oneterms1">7.</span> <span class="oneterms2">المراوغة والتلاعب في ھیكلیة رسوم الموقع وعملیة الفوترة، أو الرسوم المملوكة للموقع.</span></li>
                                <li>
                                    <span class="oneterms1">8.</span> <span class="oneterms2">
                                        القیام بأي عمل من شأنھ الإخلال بأنظمة حفظ سریة معلومات وبیانات الموقع، أو كشف أو إستعمال إي بیانات أو
                                        معلومات لأي أسباب أو أعمال غیر متعلقة.
                                    </span>
                                </li>
                                <li><span class="oneterms1">9.</span> <span class="oneterms2">تحویل حسابك على الموقع واسم المستخدم، إلى طرف آخر دون إبلاغ إدراة الموقع و موافقتھا على ھذا الإجراء.</span></li>
                                <li><span class="oneterms1">10.</span> <span class="oneterms2">توزیع أو الإعلان عن اتصالات غیر قانونیة أو ذات حجم كبیر، أو سلسلة رسائل ھرمیة.</span></li>
                                <li>
                                    <span class="oneterms1">11.</span> <span class="oneterms2">
                                        توزیع أي برمجیات مؤذیة مثل الفیروسات، أحصنة طروادة، قنابل موقوتة، أو أي برمجیات مشابھة أو
                                        تكنولوجیات من شأنھا الحاق الضرر بالموقع، أو بمصالح وأملاك مستخدمي الموقع ویتحمل من یثبت علیھ ھذا
                                        العمل كافة التعویضات المالیة و المعنویة بدون أدنى مسؤولیة على الموقع
                                    </span>
                                </li>
                                <li><span class="oneterms1">12.</span> <span class="oneterms2">اختلاق مطالبة على الموقع أو التسبب بخسارة كلیة أو جزئیة لخدمات مشغلي الإنترنت أو أي مجھزین آخرین.</span></li>
                                <li><span class="oneterms1">13.</span> <span class="oneterms2">القیام بأي عمل یحملنا أو قد یحملنا (في وجھة نظرنا) أعباءاً ھائلة غیر مبررة على بنیتنا التحتیة وسیاسة التشغیل.</span></li>
                                <li><span class="oneterms1">14.</span> <span class="oneterms2">التدخل أو محاولة التدخل للتأثیر على سیر العمل في الموقع.</span></li>
                                <li>
                                    <span class="oneterms1">15.</span> <span class="oneterms2">
                                        محاولة الاستیلاء على حساب مستخدم آخر أو القیام بأي عملیة احتیال على الموقع أو حسابات المستخدمین
                                        والمجالات الأخرى الخاصة بھم.
                                    </span>
                                </li>


                            </ol>
                        </li>
                    </ol>

                </div>




                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">7-</span> <span class="oneterms-s">تتعھد وتعلن وتضمن أنك :</span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">بلغت 16 عام أو أكثر</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">أن لدیك السلطة بإلزام المؤسسة " إذا كنت ممثلاً لمؤسسة "</span></li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        أنك أنت المالك المستفید الوحید والحصري قانوناً لجمیع المواد من أي نوع التي ترغب بعرضھا للبیع على الموقع، وأن لدیك ما
                                        یثبت أن لك الحق والسلطة في الاتجار بھذه المواد وعرضھا.
                                    </span>
                                </li>
                                <li><span class="oneterms1">4)</span> <span class="oneterms2">أنك سوف تلتزم بكافة القوانین المحلیة والدولیة المعمول بھا في ھذا الشأن، وكذا الأحكام المعمول بھا في شأن استخدام الموقع.</span></li>
                                <li><span class="oneterms1">5)</span> <span class="oneterms2">إن المعلومات ووصف السلع التي ستنشرھا على الموقع بغرض البیع صحیحة ودقیقة ومفصلة ومصورة.</span> </li>
                                <li>
                                    <span class="oneterms1">6)</span> <span class="oneterms2">
                                        أن تعمل ضمن سیاسة الموقع الخاصة بالمحافظة على خصوصیة معلومات الإتصال و التواصل، فلن تكشف عن تفاصیل
                                        معلومات و عنوانین الإتصال بك بما في ذلك أرقام الھواتف، العناوین البریدیة، العناوین الإلكترونیة، في أي مكان في الموقع
                                        بما في ذلك النماذج و المنتدى و تفاصیل السلعة أو من خلال أي ملامح للبرید الإلكتروني للموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">7)</span> <span class="oneterms2">
                                        سوف لن تستخدم معلوماتك التي تحصل علیھا من خلال الاتصالات اللازمة لإنجاز أي صفقة على الموقع بھدف إتمام عملیات

                                        بیع إضافیة خارج الموقع أو من خلال موقع آخر.
                                    </span>
                                </li>
                                <li><span class="oneterms1">8)</span> <span class="oneterms2">سوف لن تجمع معلوماتك عن المستخدمین الآخرین بما في ذلك عناوینھم الإلكترونیة ووسائل الاتصال الأخرى.</span></li>
                                <li>
                                    <span class="oneterms1">9)</span> <span class="oneterms2">
                                        سوف لن تكشف أو تنشر أي معلومات شخصیة عن المستخدمین، أو استخدامھا بطریقة (في نظرنا) قد تنتھك سریتھم
                                        وخصوصیتھم والقوانین المعمول بھا.
                                    </span>
                                </li>
                            </ol>
                        </li>

                    </ol>

                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">8-</span> <span class="oneterms-s">حقوق الطبع :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        كافة المحتویات التي یتضمنھا الموقع، بما في ذلك ولیس محصوراً في النصوص، التصامیم الجرافیكیة، الشعارات، أیقونات
                                        الأزرار، الرموز، المقاطع الصوتیة، الأحمال الرقمیة، البیانات المجمّعة والبرامج الإلكترونیة، ھي ملك وحقوقھا محفوظة إما
                                        للموقع أو لمستخدمیھ، وللمعدین لھذه المحتویات وللمفوضین وھي محمیة ضمن حقوق الطبع المحفوظة، والعلامات التجاریة
                                        وحقوق وقوانین الملكیة الفكریة والإبداعیة.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        المحتویات المجمعة على الموقع ھي ملك حصري وحقوقھا محفوظة "لمجمع سویتنس للتعامل الإلكتروني"، وھي محمیة ضمن
                                        حقوق الطبع المحفوظة، والعلامات التجاریة وحقوق وقوانین الملكیة الفكریة والإبداعیة.
                                    </span>
                                </li>

                            </ol>
                        </li>

                    </ol>

                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">9-</span> <span class="oneterms-s">الأضرار بمجمع سویتنس للتعامل الإلكتروني :</span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">لا بد من أن یتم الإبلاغ عن أیة مشاكل من أي نوع یخص إنتھاكا لاتفاقیة المستخدم ھذه في الموقع.</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">إذا ما اعتقدت أن حقوق ملكیتك الفكریة قد انتھكت، ینبغي علیك إبلاغ الموقع بذلك.</span></li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        إذا ثبت البند رقم 2 أعلاه فقد یلجأ الموقع دون الاضرار بمصالحھ وحقوقھ المترتبة، أن یوقف أو یحجب وصول مستخدم
                                        إلى موقع و/أو إلغاء عضویتھ في الموقع، أو إزالة ما لھ من محتویات على الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">
                                        كذلك یمكن للموقع اللجوء الى خطوات تقنیة و/أو قانونیة ضد المستخدمین الذین یختلقون مشاكل أو مطالبات قانونیة من
                                        أي نوع،كانتھاك حقوق الملكیة الفكریة لأطراف ثالثة أو التعامل بطرق غیر لائقة مع اتفاقیة المستخدم ھذه أو مع عقودنا.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5)</span> <span class="oneterms2">
                                        یمنع عرض عناوین وصلات لمواقع أخر خارج الموقع و إن كانت تخص السلعة المعروضة على الموقع ویتحمل من
                                        عرض العنوان على أیة أضرار قد تنجم عن دخول فیروسات أو برمجیات مؤذیة سواء مجمع سویتنس للتعامل
                                        الإلكتروني أو أي من مستخدمیھ
                                    </span>
                                </li>

                            </ol>
                        </li>

                    </ol>

                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">10-</span> <span class="oneterms-s">
                                حمایة المشتري : لدى الموقع مجمع سویتنس للتعامل الإلكتروني الاحقیة الكاملة لحمایة المشتري ویھدف إلى مساعدة المشترین
                                لضمان حمایة مشتریاتھم من احتیال الباعة على الموقع.
                            </span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        في حال إستلام إدارة الموقع لبلاغ المرسل سیتم عمل اللازم للتحقق من الحالة و تفاصیلھا، وفي حالة تقرر (من جانب
                                        الموقع) أن البائع ھو من قام متعمداً بالاحتیال على المشتري، فسیقوم الموقع بفرض على بتعویض المشتري ضمن سیاسة
                                        الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        إستكمالا لما ورد برقم 2 أعلاه فإن "مجمع سویتنس للتعامل الإلكتروني" قد تلجأ لوقف أو إلغاء أو حجب وصول البائع إلى
                                        الموقع و/أو إلغاء عضویتھ، وللموقع الحق بتحمیل البائع تكالیف تعویض المشتري وتكالیف الشحن والتسلیم بحسب
                                        (بوالص الشحن و وأي رسوم إضافیة )، ویحتفظ للموقع بحقھ في اتخاذ خطوات إضافیة إذا ما كانت ضروریة، بما في ذلك
                                        الخطوات القانونیة .
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        أنت تعلم وموافق على أنھ في حال إرجاع أي سلعة من المشتري إلى الموقع، وكانت السلعة غیر مشروعة أو غیر قانونیة،
                                        فإنھ یحق للموقع حینھا وبمحض رؤیتھ أن یتلف البضاعة أو أن یتخذ أي خطوات ضروریة أخرى.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">رسوم الشحن الخاصة بطلبات ارجاع السلع :</span>
                                    <ol>
                                        <li><span class="oneterms1">1)</span> <span class="oneterms2">في حال كان الارجاع بسبب خطأ یتحملھ البائع او مشكلة في المنتج المرسل</span></li>
                                        <li><span class="oneterms1">&nbsp;</span> <span class="oneterms2">أ - اذا قام المشتري بالاعتراض خلال وقت استلام الطلب</span></li>
                                    </ol>

                                    <ol class="mar-ard">
                                        <li><span class="oneterms1">1)</span> <span class="oneterms2">یتحمل البائع رسوم الشحن الخاصة بارجاع السلعة لھ</span></li>
                                        <li>
                                            <span class="oneterms1">2)</span> <span class="oneterms2">
                                                في حالة عدم موافقة الموقع على طلب الإرجاع المقدم من قبل العمیل ورفض العمیل استلام السلعة المرتجعھ
                                                المرفوضة من قبل الموقع، سوف یكون الحق للموقع التخلص من السلعة بعد 1 یوما من تاریخ رفض العمیل.
                                            </span>
                                        </li>
                                    </ol>

                                    <ol>
                                        <li><span class="oneterms1">&nbsp;</span> <span class="oneterms2">ب - اذا قام المشتري بالاعتراض خلال استلام الطلب (فقط في حال تم الموافقة على ارجاع المنتج)</span></li>
                                        <li><span class="oneterms1">1)</span> <span class="oneterms2">یتحمل المشتري رسوم الشحن التي دفعت لشحن السلعة لھ</span></li>
                                        <li><span class="oneterms1">2)</span> <span class="oneterms2">یتحمل البائع رسوم الشحن الخاصة بارجاع السلعة لھ</span></li>
                                        <li>
                                            <span class="oneterms1">3)</span> <span class="oneterms2">
                                                في حالة عدم موافقة الموقع على طلب الإرجاع المقدم من قبل العمیل ورفض العمیل استلام السلعة المرتجعھ
                                                المرفوضة من قبل الموقع، سوف یكون الحق للموقع التخلص من السلعة بعد 1 یوما من تاریخ رفض العمیل.
                                            </span>
                                        </li>
                                    </ol>

                                </li>


                            </ol>
                        </li>

                    </ol>

                </div>



                <div class="f-tream-one">
                    <ol>
                        <li><span class="oneterms">11-</span> <span class="oneterms-s">البضائع المرتجعة :</span>
                        <li>
                            <span class="oneterms-inn">
                                یحق للموقع واي من الشركات التابعة لھا أن تقوم بالتخلص أو اتلاف أو تصفیة أو ان تعرض للبیع أي من السلع/المنتجات التابعة البائع وكما
                                تراه مناسباَ وذلك خلال 2 یوماً بعد استلامھا من شركة الشحن في حال تم ارجاع أو عدم استلام ھذه المنتجات/السلع من المشترین لأي سبب
                                كان، شریطة ان یتم اشعار البائع عن المنتجات المذكورة/السلع التي تم ارجاعھا عن طریق ارسال رسالة الى البرید الالكتروني المزود من
                                البائع ولم یقم البائع باتخاذ الاجراءات اللازمة لاستلامھا. تعتبر ھذه الفقرة تفویض صریح الى الموقع لاتلاف و/او عرض المنتجات في
                                التصفیة لأي منتجات/سلع مذكورة أعلاه وبدون أي اعتراض من البائعین وبدون أي مسؤولیة مترتبة على الموقع. علاوة على ذلك، یحق
                                للموقع ان تقوم بخصم من حساب البائع او مطالبتھ بأي رسوم أو مبالغ قد تتكبدھا من خلال الاتلاف و/أو تصفیة السلع المذكورة أعلاه .
                            </span>
                        </li>
                        </li>

                    </ol>

                </div>



                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">12-</span> <span class="oneterms-s">مسؤولیة مجمع سویتنس للتعامل الإلكتروني:</span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">الموقع ھو مجرد قناة للتواصل، حیث یمكن للمستخدمین الالتقاء والتفاعل مع بعضھم البعض بھدف بیع وشراء البضائع</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">الموقع لا یضمن أن المشتري أو البائع سوف سیتم الصفقة أو یقبل البائع بإرجاعھا أو بإعادة ثمنھا.</span></li>
                                <li><span class="oneterms1">3)</span> <span class="oneterms2">أنت لن تحمل الموقع مسؤولیة المستخدمین لناحیة المحتوى، الأفعال، ردود الأفعال، البضائع أو المعلومات التي یعرضونھ</span> </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">
                                        الموقع غیر مسؤول عن عدم التقید أو إبرام عقد یتم بین (المستخدمین، ولا ھو مسؤول عن نقل الملكیة القانونیة لبضاعة من البائع
                                        إلى المشتري). حیث أن عقد بیع أي بضاعة سیكون ثنائیاً بین البائع والمشتري. و لیس للموقع في أي لحظة الحق ولا
                                        السلطة ولا المصلحة في أیة بضاعة، ولیس على الموقع التزام او مطالبات بشأن تلك البضاعة المبرم بخصوصھا عقد بین البائع
                                        والمشتري.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5)</span> <span class="oneterms2">
                                        نحن غیر مسؤولون عن أي أداء غیر مرض أو متاخر من قبل أي من الطریفین، ولا عن أي خسارات، أعطال أو تأخیر، بسبب
                                        بضاعة غیر متوفرة أو تأخر تسلیمھا.
                                    </span>
                                </li>
                                <li><span class="oneterms1">6)</span> <span class="oneterms2">الموقع لیس مطلوب منھ التوسط أو حل أي نزاع أو إشكال بین المستخدمین.</span> </li>
                                <li>
                                    <span class="oneterms1">7)</span> <span class="oneterms2">
                                        الموقع لا یتحكم ولا یضمن النوعیة والأمان والمشروعیة لأي بضاعة یتم الإعلان عنھا، ولا ھو یتحكم في صدق المستخدمین
                                        لناحیة المضامین وما یدرجونھ ضمن وصف سلعھم، ولا في قدرة الباعة على تسویق بضاعتھم، ولا تسدید المشتري أثمان
                                        البضائع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">8)</span> <span class="oneterms2">
                                        یجب على المستخدمین وحدھم الإتفاق فیما بینھم على طریقة وشروط وبنود التسلیم، التسدید، فیما بینھم، حیث أن الموقع لا
                                        یتحمل المسؤولیة في مثل ھذه الترتیبات، وھو فقط یقدم خدمات إختیاریة للشحن و تسھیل الدفع .
                                    </span>
                                </li>
                                <li><span class="oneterms1">6)</span> <span class="oneterms2">الموقع لیس مطلوب منھ التوسط أو حل أي نزاع أو إشكال بین المستخدمین.</span> </li>
                                <li><span class="oneterms1">9)</span> <span class="oneterms2">الموقع لا یتحمل أیة مطالبات تنشأ عن أخطاء أو إھمال، سواء حصلت قدرا أو من طرف ثالث.</span></li>
                                <li>
                                    <span class="oneterms1">10)</span> <span class="oneterms2">
                                        الموقع یستثني من ضماناتھ و بنوده وشروطھ أي خسارات مالیة، تشویھ في السمعة، وأي أضرار خاصة تنشأ عن سوء
                                        استخدامك أو عدم قدرتك على استخدام الموقع، ومجمع سویتنس للتعامل الإلكتروني لا یتحمل أي مسؤولیات أو مطالبات في مثل
                                        ھذه الحالات.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">11)</span> <span class="oneterms2">
                                        أنت تعفي "مجمع سویتنس للتعامل الإلكتروني" و/أو أي من مسؤولیھ وممثلیھ، بشأن أي مطالبة، نزاع، تكالیف، أضرار، ومسؤولیة، وأي خسارة مباشرة لأي طرف نشأت عن فعل قام بھ مستخدمو الموقع، وانت على وجھ الخصوص تتنازل وفق
                                        القوانین المعمول بھا عن أي مطالبة في ھذا الشأن.
                                    </span>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>




                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">13-</span> <span class="oneterms-s">السریة :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        یتخذ الموقع معاییر (فیزیائیة وتنظیمیة وتكنولوجیة) للحمایة من وصول شخص غیر مفوض إلى معلومات ھویتك الشخصیة،
                                        % وحفظھا. مع العلم أن الانترنت لیس وسیلة آمنة، وسریة معلوماتك الشخصیة لا یمكن أن تكون مضمونة 100
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        سیقوم الموقع بتزوید معلومات الإتصال بك " الجوال و البرید الإلكتروني للطرف الثاني إتمام الصفقة حاى یتم التواصل ما
                                        بین الطرفین لإتمام عملیة الشحن و الدفع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        الموقع لیس لھ سیطرة على أفعال أي طرف ثالثة، مثل صفحات الانترنت الأخرى الموصولة بھذا الموقع، أو أطراف ثالثة
                                        تدعي أنھا تمثلك اوتمثل اخرین. انت تعلم وموافق أن قد یستخدم معلوماتك التي زودتھ بھا، بھدف تقدیم الخدمات لك
                                        في الموقع، ولإرسال رسائل تسویقیة لك، وان عقد السریة في ھذا الموقع یضبط عملیات الجمع والمعالجة والاستخدام
                                        والتحویل لمعلومات ھویتك الشخصیة.
                                    </span>
                                </li>

                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">14-</span> <span class="oneterms-s">نقض اتفاقیة المستخدم :</span>
                            <span class="oneterms-inn">
                                إن الموقع بحسب اتفاقیة المستخدم وبحسب القانون قد یلجأ حالاً وبدون تحملھ المسؤولیة إلى تحدید نشاطك، وإزالة عروضك في المزایدات،
                                وشطب قوائم بضاعتك المعروضة للبیع، وإنذار المستخدمین الآخرین بشأن نشاطاتك، وقد یلجأ مجمع سویتنس للتعامل الإلكتروني كذلك
                                إلى وقف مؤقت أو دائم، تحدید أو سحب عضویتك و/أو تحدید أو إلغاء وصولك إلى الموقع دون الإضرار بحقوقھ الأخرى ووسائلھ
                                المشروعة في استرداد حقوقك في حالة :
                            </span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">إذا انتھكت اتفاقیة الإستخدام</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">إذا لم یكن بإمكان مجمع سویتنس للتعامل الإلكتروني توثیق أي من معلوماتك المقدمة إلیھ.</span></li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        إذا قررت مجمع سویتنس للتعامل الإلكتروني أن نشاطاتك قد تتسبب لك أو لمستخدمین آخرین و مجمع سویتنس للتعامل
                                        الإلكتروني في إشكالات قانونیة.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">
                                        قد یلجأ مجمع سویتنس للتعامل الإلكتروني "بحسب تقیمھ " إلى إعادة نشاط المستخدمین الموقوفین، حیث أن المستخدم الذي
                                        اوقف نشاطھ نھائی اً أو سحبت عضویتھ، قد لا یكون بإمكانھ التسجیل أو محاولة التسجیل في مجمع سویتنس للتعامل الإلكتروني،
                                        أو استخدام الموقع بأي طریقة كانت مھما كانت الظروف، لحین السماح لھ بإعادة نشاطھ في مجمع سویتنس للتعامل الإلكتروني.
                                        ومع ذلك فإنك إن قمت بانتھاك اتفاقیة المستخدم ھذه، فإن مجمع سویتنس للتعامل الإلكتروني یحتفظ بحقھ في استعادة أیة مبالغ
                                        مستحقة للموقع علیك، وأي خسارات وأضرار تسببت بھا مجمع سویتنس للتعامل الإلكتروني لھا الحق بإتخاذ الإجراءات القانونیة
                                        و/أو اللجوء لمحاكم دولة الإمارات العربیة المتحدة لرفع قضیة جنائیة ضدك حسبما یراه مجمع سویتنس للتعامل الإلكتروني
                                        مناسباً.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5)</span> <span class="oneterms2">
                                        إن قیامك أو قیام آخرین بانتھاك اتفاقیة المستخدم ھذه لا یلزم مجمع سویتنس للتعامل الإلكتروني بالتنازل عن حقھ في اتخاذ
                                        الإجراءات المناسبة لمثل ھذا الفعل ولغیره من أفعال الانتھاك المشابھة. ومجمع سویتنس للتعامل الإلكتروني لا یضمن اتخاذه
                                        إجراءات ضد كل الانتھاكات لاتفاقیة المستخدم.
                                    </span>
                                </li>

                            </ol>
                        </li>
                    </ol>
                </div>



                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">15-</span> <span class="oneterms-s">لا ضمان:</span>
                            <span class="oneterms-inn">
                                الموقع یوفر لموقعھ وخدماتھ بیعاً على ما ھي البضاعة علیھ، وحسبما ھي متوفرة، دون اعتمادھا ودون ضمانھا لا باطناً ولا ظاھراً، بما في
                                ذلك سند الملكیة، وصلاحیتھا للاستخدام، جودتھا، أمانھا وأصالتھا، حیث أن الموقع لا یضمن دقتھا ومدى اعتمادیتھا وكمالھا، ولا یضمن
                                المعلومات والنصوص والتصامیم ووسائل الاتصال المستخدمة من خلال الموقع لا یضمن إصلاح الأعطاب ولا یضمن خلو الموقع من
                                الفایروسات وأي أشیاء أخرى یمكن أن تلحق الضرر بالمستخدمین. ومن طبیعة الاتصال عبرالانترنت أن تكون المعلومات فیھ معرضة
                                للدخول إلیھا وإفسادھا والتسبب في التأخیر. وقد یتعرض الموقع من حین لآخر إلى عدم الجھوزیة بسبب إصلاح الأعطال والصیانة
                                والتطویر، أنت موافق ان "مجمع سویتنس للتعامل الإلكتروني" لیس ملزماً بدعم الموقع، وأنك موافق علناً على زیارتك للموقع وتحمل
                                مخاطرك بنفسك.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">16-</span> <span class="oneterms-s">تحدید المسؤولیات :</span>
                            <span class="oneterms-inn">
                                بحسب ما ھو مسموح في القانون فإن "مجمع سویتنس للتعامل الإلكتروني" وموظفیھ ومدرائھ ووكلائھ والمتفرعین عنھ والمجھزین لھ لن
                                یكونوا مسؤولین عن أي خسارة مباشرة أو أعطال تنشأ عن استخدامك للموقع. إذا لم تكن راض عن الموقع أو عن أي من محتویاتھ مواده
                                فالحل و ھو بعدم استمرارك باستخدامھ، علاوة على ذلك فأنت موافق أن اي استخدام غیر مفوض للموقع وخدماتھ، بسبب إھمالك سوف
                                یتسبب بالحاق الأذى بالموقع، وعلیھ سیضطر الموقع حینھا اللجوء إلى بنود وشروط اتفاقیة المستخدم.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">17-</span> <span class="oneterms-s">الأمان :</span>
                            <span class="oneterms-inn">
                                أنت موافق على توفیر الأمان للموقع ومدرائھ وموظفیھ ووكلائھ ومجھزیھ ووقایتھم من أي ضرر قد یلحق بھم جراء مطالبات وخسائر
                                وأعطال وتكالیف ونفقات، تحدث بسبب انتھاكك لاتفاقیة المستخدم أو خرقك لأي قانون أو تعدیلات او تعدي على حقوق أطراف ثالثة.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">18-</span> <span class="oneterms-s">العلاقة والإشعارات :</span>
                            <span class="oneterms-inn">
                                لا تتضمن أي من بنود اتفاقیة المستخدم إشارة إلى وجود شراكة بینك وبین "مجمع سویتنس للتعامل الإلكتروني"، وأنت لیس لك سلطة في
                                إلزام "مجمع سویتنس للتعامل الإلكتروني"بأي حال من الأحوال، وأن أي إشعارات تود إرسالھا للموقع، علیك إرسالھا بالبرید الإلكتروني،
                                على أن یقوم الموقع بالرد على الرسالة الإلكترونیة. أنت تعرف وموافق على أن أیة إشعارات ترسل إلیك من الموقع سوف تعلن على الموقع
                                أو بواسطة البرید الإلكتروني الذي زودتنا بھ خلال عملیة التسجیل، ویفترض أنك تسلمتھ بعد 72 ساعة من الإرسال. ویمكن أن نرسل لك
                                إشعاراً بالبرید العادي على العنوان الذي زودتنا بھ ویفترض وصولھ إلیك بعد 7 أیام من الإرسال.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">19-</span> <span class="oneterms-s">العلاقة والإشعارات :</span>
                            <span class="oneterms-inn">
                                إذا كانت أیة فقرة واردة في اتفاقیة المستخدم ھذه غیر صالحة أو ملغاة أو أنھا لأي سبب لم تعد نافذة، فإن مثل ھذه الفقرة لا تلغي صلاحیة
                                بقیة الفقرات الواردة في الاتفاقیة. ھذه الاتفاقیة (والتي تعدل بین حین وآخر بحسب بنودھا) تضع كافة الخطوط العریضة للتفاھم والاتفاق
                                بینك وبین مجمع سویتنس للتعامل الإلكتروني مع الاعتبار لما یلي :
                            </span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">لیس من حق أي شخص لا یكون طرفاً في اتفاقیة المستخدم ھذه أن یفرض أیة بنود أو شروط فیھا.</span> </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        إذا تمت ترجمة اتفاقیة المستخدم لأي لغة أخرى غیر الإنجلیزیة، سواء على الموقع أو بطرق أخرى، فإن النص الإنجلیزي لھا
                                        یظل ھو السائد.
                                    </span>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">20-</span> <span class="oneterms-s">القانون والتشریع الحاكمان :</span>
                            <span class="oneterms-inn">
                                اتفاقیة المستخدم ھذه محكومة ومصاغة بحسب قانون دولة الإمارات العربیة المتحدة، وھي خاضعة تماماً وكلیاً للتشریع المعمول بھ في
                                المحاكم في الدولة، ھذه الفقرة توجد بدیلاً یتم اللجوء إلیھ في حال انتھاء مفعول اتفاقیة المستخدم ھذه أو الغاؤھا لأي سبب كان.
                            </span>
                        </li>
                    </ol>
                </div>




            </div>


        </div>


    </div>
</section>
<style>
    .ar-box-terms, .ar .terms-of-cond {
        display: none;
    }
    .ar .ar-box-terms {
        display:block;
    }
   
</style>