
@{
    /**/

    ViewData["Title"] = "Terms of Condition";
    Layout = "";
}
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

<link href="/css/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" href="/css/customfrontnew.css?v=879" />

@*@{Html.RenderPartial("_alerts");}*@
<section class="about-page" ng-app="Homex" ng-controller="HomeC">
    <div class="container">



        <div class="ar-box-terms">


            <div class="container main_box_cont">
                <p class="text-right">
                    ‫ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ( "ﻧﺤﻦ" أو " أﻧﺎ " أو "ﻣﻮﻗﻌﻨﺎ"أو "ﻣﻠﺤﻘﺎﺗﮫ" أو "اﻟﺸﺮﻛﺔ" أو " ﺳﻮﯾﺘﻨﺲ " ) ﻧﻘﻮم ﺑﺘﺸﻐﯿﻞ ﻣﻮﻗﻊ <a href="#"> www.sweetness.ae</a> وﺗﻄﺒﯿﻘﺎت اﻟﮭﺎﺗﻒ اﻟﻤﺘﺤﺮك ﻟﻠﻤﻮﻗﻊ و اﻟﺸﺮﻛﺔ أو ﻣﺎﯾﻤﺜﻠﻨﺎ ﻣﻦ ﺧﻼل ﺻﻔﺤﺎت اﻟﺘﻮاﺻﻞ اﻻﺟﺘﻤﺎﻋﻲ اﻟﺘﺎﺑﻌﺔ ﻟﻨﺎ.
                </p>
                <p class="text-right">‫‪وھﺬه اﻟﺼﻔﺤﺔ ﺗﻄﻠﻌﻚ ﻋﻠﻰ اﻟﺸﺮوط واﻷﺣﻜﺎم اﻟﻤﻨﺺ ﻋﻠﯿﮭﺎ ﻓﺎﻟﻤﻮﻗﻊ وﻛﻞ ﻣﻠﺤﻘﺎﺗﮫ ﻛﺎﻵﺗﻲ :</p>

                <div class="f-tream-one">
                    <ol>
                        <li><span class="oneterms">1-</span>	<span class="oneterms-s">اﻟﺒﻨﻮد واﻟﺸﺮوط اﻟﺘﻲ ﺗﺨﺺ إﺳﺘﺨﺪاﻣﻚ و دﺧﻮﻟﻚ ﻟﺼﻔﺤﺎت ﻣﻮﻗﻊ "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" Sweetness وﻛﺎﻓﺔ اﻟﺼﻔﺤﺎت و اﻟﺮواﺑﻂ واﻷدوات واﻟﺨﻮاص اﻟﻤﺘﻔﺮﻋﺔ ﻋﻦ ﻣﻮﻗﻌﻨﺎ. إن إﺳﺘﺨﺪاﻣﻚ ﻟﻤﻮﻗﻌﻨﺎ ھﻮ ﻣﻮاﻓﻘﺔ ﻣﻨﻚ ﻋﻠﻰ اﻟﻘﺒﻮل ﺑﺒﻨﻮد وﺷﺮوط ھﺬه اﻹﺗﻔﺎﻗﯿﺔ واﻟﺬي ﯾﺘﻀﻤﻦ ﻛﺎﻓﺔ اﻟﺘﻔﺎﺻﯿﻞ أدﻧﺎه وھﻮ ﺗﺄﻛﯿﺪ ﻹﻟﺘﺰاﻣﻚ ﺑﺎﻻﺳﺘﺠﺎﺑﺔ ﻟﻤﻀﻤﻮن ھﺬه اﻹﺗﻔﺎﻗﯿﺔ اﻟﺨﺎﺻﺔ ﺑﺸﺮﻛﺔ ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ </span></li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">2-</span>	<span class="oneterms-s">ﺷﺮوط و أﺣﻜﺎم اﻟﻌﻀﻮﯾﺔ : </span>
                            <ol>
                                <li><span class="oneterms1">1)</span>	<span class="oneterms2">ﯾﺘﻢ ﻣﻨﺢ اﻟﻌﻀﻮﯾﺔ ﻓﺎﻟﻤﻮﻗﻊ أو ﻣﻠﺤﻘﺎﺗﮫ ﻓﻘﻂ ﻟﻤﻦ ﺗﺠﺎزوت أﻋﻤﺎرھﻢ 16 ﻋﺎم . وﻣﻮﻗﻊ ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ﻟﮫ اﻟﺤﻖ اﻟﻜﺎﻣﻞ ﺑﺈﻟﻐﺎء اي ﺣﺴﺎب ﻟﻌﻀﻮ ﻟﻢ ﯾﺒﻠﻎ اﻟـ 16 ﻋﺎم.</span></li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﻋﺪم أﺣﻘﯿﺔ أي ﺷﺨﺺ ﺑﺈﺳﺘﺨﺪام اﻟﻤﻮﻗﻊ إذا ﺗﻤﺖ إﻟﻐﺎء ﻋﻀﻮﯾﺘﮫ.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">ﻓﻲ ﺣﺎل ﻗﯿﺎم أي ﻣﺆﺳﺴﺔ ﺗﺠﺎرﯾﺔ ﺑﺎﻟﺘﺴﺠﯿﻞ ﻛﻤﺴﺘﺨﺪم، ﻓﺈن ﻣﺆﺳﺴﺘﮫ اﻟﺘﺠﺎرﯾﺔ ﺗﻜﻮن ﻣﻠﺰﻣﺔ ﺑﻜﺎﻓﺔ واﻟﺸﺮوط اﻟﻮاردة ﻓﻲ ھﺬه اﻹﺗﻔﺎﻗﯿﺔ.</span></li>
                                <li><span class="oneterms1">4)</span>	<span class="oneterms2">ﯾﻨﺒﻐﻲ ﻋﻠﯿﻚ اﻹﻟﺘﺰام ﺑﻜﺎﻓﺔ اﻟﻘﻮاﻧﯿﻦ اﻟﻤﻌﻤﻮل ﺑﮭﺎ ﻟﺘﻨﻈﯿﻢ اﻟﺘﺠﺎرة ﻋﺒﺮ اﻻﻧﺘﺮﻧﺖ.</span></li>
                                <li><span class="oneterms1">5)</span>	<span class="oneterms2">ﯾﺠﺐ ﻋﻠﻰ اﻟﻤﺴﺘﺨﺪﻣﯿﻦ أﻓﺮاد و ﻣﺆﺳﺴﺎت اﻹﻟﺘﺰام ﺑﺎﻟﻌﻘﻮد اﻟﺘﺠﺎرﯾﺔ اﻟﻤﺒﺮﻣﺔ ﻣﻊ اﻷﻋﻀﺎء.</span></li>
                                <li><span class="oneterms1">6)</span>	<span class="oneterms2">ﻻ ﯾﺤﻖ ﻷي ﻋﻀﻮ ﺑﺎﻟﻤﻮﻗﻊ ﺷﺮاء ﻣﻌﺮوﺿﺎت ﻣﻤﻨﻮﻋﺔ أو ﻣﺸﺒﻮھﺔ أو ﻣﺴﺮوﻗﺔ أو ﺗﺨﺎﻟﻒ اﻟﻘﻮاﻧﯿﻦ اﻟﻤﻌﻤﻮل ﺑﮭﺎ ﺑﻮزارات و ھﯿﺌﺎت ﻣﺆﺳﺴﺎت اﻟﺘﺠﺎرة اﻟﻤﺤﻠﯿﺔ اﻟﺤﻜﻮﻣﯿﺔ، وﻓﻲ ﺣﺎل ﺛﺒﻮت ذﻟﻚ ﻓﮭﻮ ﯾﻀﻊ ﻧﻔﺴﮫ ﺿﻤﻦ طﺎﺋﻠﺔ اﻟﻤﺴﺆوﻟﯿﺔ اﻟﺸﺨﺼﯿﺔ ﺑﺪون ﺗﺤﻤﻠﻨﺎ اﻟﻤﺴﻮؤﻟﯿﺔ.</span></li>
                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>

                        <li><span class="oneterms">3-</span>	<span class="oneterms-s">اﻟﺘﺴﺠﯿﻞ وإﻧﺸﺎء ﺣﺴﺎب ﺷﺨﺼﻲ:</span></li>
                        <li>
                            <span class="oneterms-inn">ﻓﻮر ﺗﻘﺪﯾﻢ طﻠﺐ اﻟﺘﺴﺠﯿﻞ ﻟﻠﺤﺼﻮل ﻋﻠﻰ ﻋﻀﻮﯾﺔ ﻓﻲ اﻟﻤﻮﻗﻊ ﺗﻜﻮن ﻣﻄﺎﻟﺒﺎً ﺑﺎﻹﻓﺼﺎح ﻋﻦ ﻣﻌﻠﻮﻣﺎت ﻣﺤﺪدة وإﺧﺘﯿﺎر اﺳﻢ ﻣﺴﺘﺨﺪم وﻛﻠﻤﺔ ﻣﺮور ﺳﺮﯾﺔ ﻻﺳﺘﻌﻤﺎﻟﮭﺎ ﻋﻨﺪ اﻟﺪﺧﻮل ﻟﻠﻤﻮﻗﻊ. وﻋﻨﺪ ﻗﺒﻮل طﻠﺐ اﻟﺘﺴﺠﯿﻞ ﺳﺘﻌﺘﺒﺮ ﻋﻀﻮا ﺑﺎﻟﻤﻮﻗﻊ وﺑﺬﻟﻚ ﺗﻜﻮن ، ﺗﻜﻮن ﻗﺪ واﻓﻘﺖ ﻋﻠﻰ :</span>
                            <ol>
                                <li><span class="oneterms1">1)</span>	<span class="oneterms2">أن ﺗﻜﻮن ﻣﺴﺆوﻻً ﻋﻦ اﻟﻤﺤﺎﻓﻈﺔ ﻋﻠﻰ ﺳﺮﯾﺔ ﻣﻌﻠﻮﻣﺎت ﺣﺴﺎﺑﻚ وﻛﻠﻤﺔ اﻟﻤﺮور اﻟﺴﺮﯾﺔ وﺗﺤﺪﯾﺪ اﻷﺷﺨﺎص اﻟﻤﺴﻤﻮح ﻟﮭﻢ ﺑﺎﻟﻮﺻﻮل واﺳﺘﺨﺪام ﺣﺴﺎﺑﻚ ﺑﺎﻟﻤﻮﻗﻊ.</span></li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﻟﻦ ﯾﻜﻮن "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﺑﺄي ﺣﺎل ﻣﻦ اﻷﺣﻮال ﻣﺴﺆوﻻً ﻋﻦ أي ﺧﺴﺎرة ﻗﺪ ﺗﻠﺤﻖ ﺑﻚ ﺑﺸﻜﻞ ﻣﺒﺎﺷﺮ أو ﻏﯿﺮ ﻣﺒﺎﺷﺮ ﻣﻌﻨﻮﯾﺎ أو ﻣﺎدﯾﺎ ﻧﺘﯿﺠﺔ ﻛﺸﻒ ﻣﻌﻠﻮﻣﺎت إﺳﻢ اﻟﻤﺴﺘﺨﺪم أو ﻛﻠﻤﺔ اﻟﺪﺧﻮل.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">أن ﺗﻜﻮن ﺑﺬﻟﻚ ﻣﻮاﻓﻘﺎً ﻋﻠﻰ إﻋﻼم "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﻓﻲ ﺣﺎل ﺣﺼﻞ أي اﺧﺘﺮاق ﻟﺤﺴﺎﺑﻚ أو ﺣﺼﻮل أي ﻣﺴﺘﺨﺪم ﻏﯿﺮ ﻣﻔﻮض ﺑﮫ ﻟﻜﻠﻤﺔ دﺧﻮﻟﻚ أو ﺣﺴﺎﺑﻚ أو أي اﺧﺘﺮاق آﺧﺮ ﻟﻤﻌﻠﻮﻣﺎﺗﻚ اﻟﺴﺮﯾﺔ.</span></li>
                                <li><span class="oneterms1">4)</span> <span class="oneterms2"> ﺑﺘﻌﻮﯾﺾ ﻣﻮﻗﻊ "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﻋﻦ أي ﺧﺴﺎﺋﺮ ﻣﺒﺎﺷﺮة أوﻏﯿﺮ ﻣﺒﺎﺷﺮة ﻗﺪ ﺗﻠﺤﻖ ﺑﻨﺎ ﻧﺘﯿﺠﺔ ﻷي اﺳﺘﺨﺪام ﻏﯿﺮ ﺷﺮﻋﻲ أو ﺣﻘﯿﻘﻲ أو ﻣﻔﻮض ﻟﺤﺴﺎﺑﻚ ﻣﻦ طﺮﻓﻚ أو ﻣﻦ طﺮف آﺧﺮ.</span></li>
                                <li><span class="oneterms1">5)</span>	<span class="oneterms2">أﻧﻚ ﻗﻤﺖ ﺑﺎﻟﻤﻮاﻓﻘﺔ ﻋﻠﻰ اﻹﻓﺼﺎح ﺑﻤﻌﻠﻮﻣﺎت ﺣﻘﯿﻘﯿﺔ وﺻﺤﯿﺤﺔ وﻛﺎﻣﻠﺔ ﻋﻦ ﻧﻔﺴﻚ ﺣﺴﺒﻤﺎ ھﻮ ﻣﻄﻠﻮب ﻓﻲ اﺳﺘﻤﺎرة اﻟﺘﺴﺠﯿﻞ.</span></li>
                                <li><span class="oneterms1">6)</span>	<span class="oneterms2">ﯾﻠﺘﺰم اﻟﻤﻮﻗﻊ ﺑﺎﻟﺘﻌﺎﻣﻞ ﻣﻊ ﻣﻌﻠﻮﻣﺎﺗﻚ اﻟﺸﺨﺼﯿﺔ وﻋﻨﺎوﯾﻦ اﻹﺗﺼﺎل ﺑﻚ ﺑﺴﺮﯾّﺔ ﺗﺎﻣﺔ ﻣﻊ اﻷﻋﻀﺎء اﻵﺧﺮﯾﻦ وﯾﺘﻢ ﺗﺰوﯾﺪ اﻷﻋﻀﺎء ﺑﻤﻌﻠﻮﻣﺎت اﻹﺗﺼﺎل ﺑﻚ ﻓﻘﻂ ﻓﻮر إﺗﻤﺎم اﻟﻌﻤﻠﯿﺎت اﻟﺘﺠﺎرﯾﺔ.</span></li>
                                <li>
                                    <span class="oneterms1">7)</span>	<span class="oneterms2">أﻧﺖ ﻣﻠﺰﻣﺎً ﺑﺎﻟﺤﻔﺎظ ﻋﻠﻰ ﺑﯿﺎﻧﺎت اﻟﺘﺴﺠﯿﻞ وﺗﺤﺪﯾﺜﮭﺎ ، وإذا ﻣﺎ أﻓﺼﺤﺖ ﻋﻦ ﻣﻌﻠﻮﻣﺎت ﻏﯿﺮ ﺣﻘﯿﻘﯿﺔ أو ﻏﯿﺮ ﺻﺤﯿﺤﺔ أوﻏﯿﺮ راھﻨﺔ أوﻏﯿﺮ ﻛﺎﻣﻠﺔ او ﻣﺨﺎﻟﻔﺔ ﻟﻤﺎ ﺟﺎء ﻓﻲ اﺗﻔﺎﻗﯿﺔ اﻟﻤﺴﺘﺨﺪم، ﻓﺈن ﯾﻜﻮن ﻟﻤﻮﻗﻌﻨﺎ اﻻﺣﻘﯿﺔ اﻟﻜﺎﻣﻠﺔ ﻓﻲ وﻗﻒ أو ﺗﺤﺪﯾﺪ أو إﻟﻐﺎء ﻋﻀﻮﯾﺘﻚ و ﺣﺴﺎﺑﻚ ﻓﻲ اﻟﻤﻮﻗﻊ، وذﻟﻚ دون اﻟﺤﺎق اﻷﺿﺮار ﺑﺤﻘﻮق "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ"اﻷﺧﺮى ووﺳﺎﺋﻠﮫ اﻟﻤﺸﺮوﻋﺔ ﻓﻲ اﺳﺘﺮداد ﺣﻘﻮﻗﮫ.</span>
                                </li>
                                <li>
                                    <span class="oneterms1">8)</span>	<span class="oneterms2">ﻓﻲ ﺣﺎﻟﺔ أن اﻟﻤﻘﺪم ﻟﻄﻠﺐ اﻟﺘﺴﺠﯿﻞ ﯾﻤﺜﻞ ﻣﺆﺳﺴﺔ ﺗﺠﺎرﯾﺔ ﻓﻼﺑﺪ ﻣﻦ ﺗﺰوﯾﺪ ﻛﺎﻓﺔ اﻟﻤﻌﻠﻮﻣﺎت واﻟﻮﺛﺎﺋﻖ اﻟﻤﻄﻠﻮﺑﺔ اﻟﺘﻲ ﺗﺘﻀﻤﻦ رﺧﺼﺘﻚ اﻟﺘﺠﺎرﯾﺔ، ووﺛﺎﺋﻖ أﺧﺮى ﻟﻠﻤﺆﺳﺴﺔ و/أو وﺛﺎﺋﻖ ﺗﻈﮭﺮ ﻣﺴﺆوﻟﯿﺔ أي ﺷﺨﺺ ﯾﺘﺼﺮف ﻧﯿﺎﺑﺔ ﻋﻨﻚ.</span>

                                </li>
                                <li>
                                    <span class="oneterms1">9)</span>	<span class="oneterms2">ﻓﻲ ﺣﺎﻟﺔ ﻋﺪم اﻹﻟﺘﺰام ﺑﺄي ﻣﻤﺎ ورد إﻋﻼه ﻓﺈن ﻹدارة اﻟﻤﻮﻗﻊ اﻟﺤﻖ ﻓﻲ إﯾﻘﺎف أو إﻟﻐﺎء ﻋﻀﻮﯾﺘﻚ و ﺣﺠﺒﻚ ﻋﻦ اﻟﻤﻮﻗﻊ. وﻧﺤﺘﻔﻆ ﻛﺬﻟﻚ ﺑﺎﻟﺤﻖ ﻓﻲ إﻟﻐﺎء أي ﺣﺴﺎﺑﺎت ﻏﯿﺮ ﻣﺆﻛﺪة وﻏﯿﺮ ﻣﺜﺒﺘﺔ أو ﻋﻤﻠﯿﺎت أو ﺣﺴﺎﺑﺎت ﻣﺮ ﻋﻠﯿﮭﺎ ﻣﺪة طﻮﯾﻠﺔ دون ﻧﺸﺎط.</span>
                                </li>


                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">4-</span>	<span class="oneterms-s">اﻟﺘﻮاﺻﻞ اﻹﻟﻜﺘﺮوﻧﻲ :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span>	<span class="oneterms2">ﻣﻮاﻓﻘﺘﻚ اﻟﺘﺎﻣﺔ ﻋﻠﻰ أن ﯾﺘﻢ اﻟﺘﻮاﺻﻞ ﻣﻌﻚ ﻋﺒﺮ اﻟﺒﺮﯾﺪ اﻹﻟﻜﺘﺮوﻧﻲ، أو ﻣﻦ ﺧﻼل ﺑﺚ إﻋﻼﻧﺎت ﺗﺮوﯾﺠﺔ ﻋﻠﻰ اﻟﻤﻮﻗﻊ، وأﻧﺖ ﻣﻮاﻓﻖ ﻋﻠﻰ أن ﺟﻤﯿﻊ اﻻﺗﻔﺎﻗﯿﺎت واﻹﻋﻼﻧﺎت واﻟﺒﯿﺎﻧﺎت واﻻﺗﺼﺎﻻت اﻷﺧﺮى اﻟﺘﻲ ﺗﺰود ﺑﮭﺎ اﻟﻜﺘﺮوﻧﯿﺎً.</span>

                                </li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﺳﯿﻘﻮم "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" ﺧﻼل ﻓﺘﺮة ﻋﻀﻮﯾﺘﻚ ﺑﺈرﺳﺎل رﺳﺎﺋﻞ إﻟﻜﺘﺮوﻧﯿﺔ ﺗﺮوﺟﯿﺔ ﻟﺘﻌﺮﯾﻔﻚ ﺑﺄي ﺗﻐﯿﺮات أو إﺟﺮاءات أو ﻧﺸﺎطﺎت دﻋﺎﺋﯿﺔ ﺟﺪﯾﺪة ﻗﺪ ﺗﻀﺎف إﻟﻰ اﻟﻤﻮﻗﻊ.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">ﻟﻚ اﻟﺤﻖ ﻛﻤﺴﺘﺨﺪم ﺑﺘﺄﻛﯿﺪ ﻋﺪم رﻏﺒﺘﻚ ﻓﻲ ﺗﻠﻘﻲ اﻟﺮﺳﺎﺋﻞ اﻹﻟﻜﺘﺮوﻧﯿﺔ اﻟﺪﻋﺎﺋﯿﺔ، وﯾﻤﻜﻨﻚ إﻟﻐﺎء ﺗﻠﻘﻲ ﻣﺜﻞ ھﺬه اﻟﺮﺳﺎﺋﻞ، وذﻟﻚ ﺑﺎﻟﻀﻐﻂ ﻋﻠﻰ ﺧﯿﺎر طﻠﺐ ﻋﺪم إﺳﺘﻼم رﺳﺎﺋﻞ ﺗﺮوﯾﺠﯿﺔ واﻟﻤﺘﻮﻓﺮة ﻓﻲ أﺳﻔﻞ اﻟﺮﺳﺎﺋﻞ اﻟﺘﺮوﯾﺠﯿﺔ و اﻹﻋﻼﻧﯿﺔ .</span></li>
                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>

                        <li>
                            <span class="oneterms">5-</span>	<span class="oneterms-s">اﺗﻔﺎﻗﯿﺔ اﻟﻤﺴﺘﺨﺪم وﺗﻌﺪﯾﻼﺗﮭﺎ و أﻟﯿﺔ ﻋﻤﻞ ﻣﻮﻗﻌﻨﺎ :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span>	<span class="oneterms2">أﻧﺖ ﺗﻌﻠﻢ وﻣﻮاﻓﻖ ﻋﻠﻰ أن ﯾﻘﻮم ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ ﺑﺈﻋﻼﻣﻚ ﻋﻦ أي ﺗﻌﺪﯾﻞ ﻋﻠﻰ اﺗﻔﺎﻗﯿﺔ اﻟﻤﺴﺘﺨﺪم، وﺑﻤﻮﺟﺒﮫ ﺗﺘﻀﺎﻋﻒ اﻟﺘﺰاﻣﺎﺗﻚ أو ﺗﺘﻀﺎءل ﺣﻘﻮﻗﻚ وﻓﻘﺎً ﻷي ﺗﻌﺪﯾﻼت ﻗﺪ ﺗﺠﺮى ﻋﻠﻰ إﺗﻔﺎﻗﯿﺔ اﻹﺳﺘﺨﺪام.</span>
                                </li>
                                <li><span class="oneterms1">2)</span>	<span class="oneterms2">ﻣﻮاﻓﻘﺘﻚ اﻟﺘﺎﻣﺔ ﻋﻠﻰ أن "ﻣﺠﻤﻊ ﺳﻮﯾﺘﻨﺲ ﻟﻠﺘﻌﺎﻣﻞ اﻹﻟﻜﺘﺮوﻧﻲ" وﺑﻤﻄﻠﻖ ﺻﻼﺣﯿﺘﮫ ودون ﺗﺤﻤﻠﮫ اﻟﻤﺴﺆوﻟﯿﺔ اﻟﻘﺎﻧﻮﻧﯿﺔ أن ﯾﺠﺮي ﺗﻌﺪﯾﻼت أﺳﺎﺳﯿﺔ أو ﻓﺮﻋﯿﺔ ﻋﻠﻰ ھﺬه اﻹﺗﻔﺎﻗﯿﺔ دون أن ﯾﺘﻄﻠﺐ ذاك ﻣﻮاﻓﻘﺔ إﺿﺎﻓﯿﺔ ﻣﻦ طﺮﻓﻚ، وذﻟﻚ ﻓﻲ أي وﻗﺖ وﺑﺄﺛﺮ ﻓﻮري، ﺑﻮاﺳﻄﺔ ﺑﺚ إﻋﻼن ﻋﻦ اﻟﺘﻌﺪﯾﻞ ﻋﻠﻰ اﻟﻤﻮﻗﻊ.</span></li>
                                <li><span class="oneterms1">3)</span>	<span class="oneterms2">أنت تعلم أن "مجمع سویتنس للتعامل الإلكتروني" یتیح بیع وشراء البضائع بین البائعین والمشترین المسجلین بالموقع.</span></li>
                                <li>
                                    <span class="oneterms1">4)</span>	<span class="oneterms2">
                                        العضویة على الموقع مجانیة. ویمكن للموقع أن یفرض رسوم إبرام الصفقات على البائعین حین تباع بضاعتھم على الموقع،
                                        وھناك رسوم إعلانات إختیاریة في حالة طلبھا و إستخدامھا لترویج البضائع على الموقع.
                                    </span>
                                </li>
                                <li><span class="oneterms1">5)</span>	<span class="oneterms2">على البائعین دفع كافة الرسوم المستحقة للموقع خلال 10 یوما وبحد أقصى بعد استكمال أي عملیة بیع ناجحة.</span></li>
                                <li><span class="oneterms1">6)</span>	<span class="oneterms2">على البائع أن یبلغ إدارة الموقع حسب الأصول بأي عملیة بیع غیر ناجحة لأي سبب كان.</span></li>
                                <li><span class="oneterms1">7)</span>	<span class="oneterms2">لك الحق كبائع بإلغاء أو إسترداد قیمة أي عمولات إحتسبت أو خصمت على عملیات لم تتم.</span></li>
                                <li>
                                    <span class="oneterms1">8)</span>	<span class="oneterms2">
                                        قبل عرضك لأي سلعة للبیع في الموقع علیك مراجعة تفاصیل الرسوم المحددة التي سیتم إحتسابھا على عملیاتك ویترتب علیك
                                        سدادھا فور إصدار الفواتیر الشھریة الخاصة بحساب عملیاتك على الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">9)</span>	<span class="oneterms2">
                                        للموقع الحق بعمل تعدیلات على رسوم العملیات بما یراه مناسبا وسیتم الإعلان عن أي تعدیل من خلال مراسلتك على بریدك
                                        الإلكتروني، و قد تكون التعدیلات مؤقتة أو مستمرة سواء كانت على الرسوم أو تفاصیل خدمات الشحن وعلیك الالتزام بھا وفق
                                        بنودھا حین یتم الإعلان عنھا.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">10)</span>	<span class="oneterms2">
                                        كافة الرسوم تحتسب بالعملة المحلیة لدولة الإمارات العربیة المتحدة او علیك دفع كافة الرسوم المستحقة على عملیاتك بالموقع
                                        مضافاً إلیھا أي ضرائب أو نفقات أخرى، وذلك في غضون 5 أیام من تاریخ الفاتورة المرسلة إلیك من الموقع، على أن یتم
                                        السداد بواسطة الوسائل المعتمدة من الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">11)</span>	<span class="oneterms2">
                                        في حال عدم إلتزامك بدفع الرسوم أو أي من عملیات قمت بھا على الموقع، فإن الموقع وبدون أدنى مسؤولیة قانونیة یحتفظ
                                        بحقھ في :
                                    </span>
                                    <ol>
                                        <li>
                                            <span class="oneterms1">1.</span>	<span class="oneterms2">
                                                توجیھ واصدارإنذار رسمي للفرد أو المؤسسة التي یمثلھا في حال التاخر عن الموعد المحدد .
                                                في حال لم یتم سداد المستحقات المالیة في مدة أقصاھا 5 أیام وذلك بعد تم انذار الفرد أو المؤسسة فیحق للموقع
                                                إیقاف حسابك بشكل مؤقت أو دائم و إتخاذ الإجراءات اللارزمة.
                                            </span>
                                        </li>
                                        <li>
                                            <span class="oneterms1">2.</span>	<span class="oneterms2">
                                                بالنسبة للحسابات المستحقة لأكثر من شھر، سیتم إقتطاع قیمة المبلغ الغیر مدفوع من حسابك المسجل لدى الموقع
                                                ولا مانع لدیك من قیام مجمع سویتنس للتعامل الإلكتروني بذلك حسب الأصول مع ضرورة إبلاغك عبر البرید
                                                الإلكتروني بإتمام عملیة السحب.
                                                - یحتفظ "مجمع سویتنس للتعامل الإلكتروني" بحقھ لأخذ أي إجرائات أو خطوات ضروریة تتضمن ولا تقتصر
                                                على الدعاوى القانونیة لتحصیل الرسوم المستحقة و/أو الضرائب والنفقات الملائمة.
                                            </span>
                                        </li>
                                    </ol>

                                </li>

                            </ol>
                        </li>
                    </ol>
                </div>








                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">6-</span> <span class="oneterms-s">معلوماتك الشخصیة ومعلومات تفاصیل العملیات :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        لا مانع لدیك بأن تمنح الموقع حقاً غیر محدود ودائم وغیر قابل للإلغاء، ومعفي من المصاریف، و مرخص باستخدام معلومات
                                        أو مواد شخصیة أو غیر ذلك، زودتنا بھا للموقع و/أو أعلنتھا على الموقع من خلال التسجیل.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        أنت الوحید المسؤول عن المعلومات التي قمت بإرسالھا أو نشرھا وینحصر دور الموقع بالسماح لك بعرض ھذه المعلومات
                                        على صفحات الموقع ومن خلال قنواتھ الإعلانیة .
                                    </span>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <span class="oneterms-inn"><strong>الإجراءات المحظورة خلال العملیات في الموقع :</strong></span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1.</span> <span class="oneterms2">
                                        عدم تسدید ما علیك من دفعات لبضائع قمت بشرائھا، ما لم یكن البائع قام بتغییر مواصفات البضاعة أو طرأت
                                        مستجدات بعد أن قمت بالشراء، أو حدث خطأ مطبعي واضح.
                                    </span>
                                </li>
                                <li><span class="oneterms1">2.</span> <span class="oneterms2">عدم تسلیمك لسلعة تم شراؤھا منك طالما إلتزم المشتري بالشروط المعلنة.</span></li>
                                <li>
                                    <span class="oneterms1">3.</span> <span class="oneterms2">
                                        المحاولة بإتمام صفقات خارج الموقع لسلع عرضت ضمن مزاد الموقع أو عرضت للبیع على الموقع بدون تسجیلھا
                                        كعملیة ناجحة بغض النظر عن طریقة التسلیم و السداد.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4.</span> <span class="oneterms2">
                                        استخدام الاتصالات الناتجة عن عملیات الشراء أو البیع على الموقع، لإنجاز صفقات بیع على بضائع أخرى بشكل
                                        مباشر أو غیر مباشر من مواقع أخرى عبر البرید الإلكتروني أو غیره من وسائل الإتصال.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5.</span> <span class="oneterms2">
                                        الإدعاء بعدم بیع البضاعة، في الوقت الذي یرى الموقع من وجھة نظره أنھا تمت بنجاح وفق اتفاقیة المستخدم
                                        وأحكام الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">6.</span> <span class="oneterms2">
                                        التلاعب أو محاولة التلاعب على الموقع بأي طریقة بما في ذلك أسعار أي بضاعة أو الخدمات عل الموقع سواء
                                        بمفردك أو بمساعدة طرف أخر أو مستخدم آخر
                                    </span>
                                </li>
                                <li><span class="oneterms1">7.</span> <span class="oneterms2">المراوغة والتلاعب في ھیكلیة رسوم الموقع وعملیة الفوترة، أو الرسوم المملوكة للموقع.</span></li>
                                <li>
                                    <span class="oneterms1">8.</span> <span class="oneterms2">
                                        القیام بأي عمل من شأنھ الإخلال بأنظمة حفظ سریة معلومات وبیانات الموقع، أو كشف أو إستعمال إي بیانات أو
                                        معلومات لأي أسباب أو أعمال غیر متعلقة.
                                    </span>
                                </li>
                                <li><span class="oneterms1">9.</span> <span class="oneterms2">تحویل حسابك على الموقع واسم المستخدم، إلى طرف آخر دون إبلاغ إدراة الموقع و موافقتھا على ھذا الإجراء.</span></li>
                                <li><span class="oneterms1">10.</span> <span class="oneterms2">توزیع أو الإعلان عن اتصالات غیر قانونیة أو ذات حجم كبیر، أو سلسلة رسائل ھرمیة.</span></li>
                                <li>
                                    <span class="oneterms1">11.</span> <span class="oneterms2">
                                        توزیع أي برمجیات مؤذیة مثل الفیروسات، أحصنة طروادة، قنابل موقوتة، أو أي برمجیات مشابھة أو
                                        تكنولوجیات من شأنھا الحاق الضرر بالموقع، أو بمصالح وأملاك مستخدمي الموقع ویتحمل من یثبت علیھ ھذا
                                        العمل كافة التعویضات المالیة و المعنویة بدون أدنى مسؤولیة على الموقع
                                    </span>
                                </li>
                                <li><span class="oneterms1">12.</span> <span class="oneterms2">اختلاق مطالبة على الموقع أو التسبب بخسارة كلیة أو جزئیة لخدمات مشغلي الإنترنت أو أي مجھزین آخرین.</span></li>
                                <li><span class="oneterms1">13.</span> <span class="oneterms2">القیام بأي عمل یحملنا أو قد یحملنا (في وجھة نظرنا) أعباءاً ھائلة غیر مبررة على بنیتنا التحتیة وسیاسة التشغیل.</span></li>
                                <li><span class="oneterms1">14.</span> <span class="oneterms2">التدخل أو محاولة التدخل للتأثیر على سیر العمل في الموقع.</span></li>
                                <li>
                                    <span class="oneterms1">15.</span> <span class="oneterms2">
                                        محاولة الاستیلاء على حساب مستخدم آخر أو القیام بأي عملیة احتیال على الموقع أو حسابات المستخدمین
                                        والمجالات الأخرى الخاصة بھم.
                                    </span>
                                </li>


                            </ol>
                        </li>
                    </ol>

                </div>




                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">7-</span> <span class="oneterms-s">تتعھد وتعلن وتضمن أنك :</span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">بلغت 16 عام أو أكثر</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">أن لدیك السلطة بإلزام المؤسسة " إذا كنت ممثلاً لمؤسسة "</span></li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        أنك أنت المالك المستفید الوحید والحصري قانوناً لجمیع المواد من أي نوع التي ترغب بعرضھا للبیع على الموقع، وأن لدیك ما
                                        یثبت أن لك الحق والسلطة في الاتجار بھذه المواد وعرضھا.
                                    </span>
                                </li>
                                <li><span class="oneterms1">4)</span> <span class="oneterms2">أنك سوف تلتزم بكافة القوانین المحلیة والدولیة المعمول بھا في ھذا الشأن، وكذا الأحكام المعمول بھا في شأن استخدام الموقع.</span></li>
                                <li><span class="oneterms1">5)</span> <span class="oneterms2">إن المعلومات ووصف السلع التي ستنشرھا على الموقع بغرض البیع صحیحة ودقیقة ومفصلة ومصورة.</span> </li>
                                <li>
                                    <span class="oneterms1">6)</span> <span class="oneterms2">
                                        أن تعمل ضمن سیاسة الموقع الخاصة بالمحافظة على خصوصیة معلومات الإتصال و التواصل، فلن تكشف عن تفاصیل
                                        معلومات و عنوانین الإتصال بك بما في ذلك أرقام الھواتف، العناوین البریدیة، العناوین الإلكترونیة، في أي مكان في الموقع
                                        بما في ذلك النماذج و المنتدى و تفاصیل السلعة أو من خلال أي ملامح للبرید الإلكتروني للموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">7)</span> <span class="oneterms2">
                                        سوف لن تستخدم معلوماتك التي تحصل علیھا من خلال الاتصالات اللازمة لإنجاز أي صفقة على الموقع بھدف إتمام عملیات

                                        بیع إضافیة خارج الموقع أو من خلال موقع آخر.
                                    </span>
                                </li>
                                <li><span class="oneterms1">8)</span> <span class="oneterms2">سوف لن تجمع معلوماتك عن المستخدمین الآخرین بما في ذلك عناوینھم الإلكترونیة ووسائل الاتصال الأخرى.</span></li>
                                <li>
                                    <span class="oneterms1">9)</span> <span class="oneterms2">
                                        سوف لن تكشف أو تنشر أي معلومات شخصیة عن المستخدمین، أو استخدامھا بطریقة (في نظرنا) قد تنتھك سریتھم
                                        وخصوصیتھم والقوانین المعمول بھا.
                                    </span>
                                </li>
                            </ol>
                        </li>

                    </ol>

                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">8-</span> <span class="oneterms-s">حقوق الطبع :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        كافة المحتویات التي یتضمنھا الموقع، بما في ذلك ولیس محصوراً في النصوص، التصامیم الجرافیكیة، الشعارات، أیقونات
                                        الأزرار، الرموز، المقاطع الصوتیة، الأحمال الرقمیة، البیانات المجمّعة والبرامج الإلكترونیة، ھي ملك وحقوقھا محفوظة إما
                                        للموقع أو لمستخدمیھ، وللمعدین لھذه المحتویات وللمفوضین وھي محمیة ضمن حقوق الطبع المحفوظة، والعلامات التجاریة
                                        وحقوق وقوانین الملكیة الفكریة والإبداعیة.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        المحتویات المجمعة على الموقع ھي ملك حصري وحقوقھا محفوظة "لمجمع سویتنس للتعامل الإلكتروني"، وھي محمیة ضمن
                                        حقوق الطبع المحفوظة، والعلامات التجاریة وحقوق وقوانین الملكیة الفكریة والإبداعیة.
                                    </span>
                                </li>

                            </ol>
                        </li>

                    </ol>

                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">9-</span> <span class="oneterms-s">الأضرار بمجمع سویتنس للتعامل الإلكتروني :</span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">لا بد من أن یتم الإبلاغ عن أیة مشاكل من أي نوع یخص إنتھاكا لاتفاقیة المستخدم ھذه في الموقع.</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">إذا ما اعتقدت أن حقوق ملكیتك الفكریة قد انتھكت، ینبغي علیك إبلاغ الموقع بذلك.</span></li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        إذا ثبت البند رقم 2 أعلاه فقد یلجأ الموقع دون الاضرار بمصالحھ وحقوقھ المترتبة، أن یوقف أو یحجب وصول مستخدم
                                        إلى موقع و/أو إلغاء عضویتھ في الموقع، أو إزالة ما لھ من محتویات على الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">
                                        كذلك یمكن للموقع اللجوء الى خطوات تقنیة و/أو قانونیة ضد المستخدمین الذین یختلقون مشاكل أو مطالبات قانونیة من
                                        أي نوع،كانتھاك حقوق الملكیة الفكریة لأطراف ثالثة أو التعامل بطرق غیر لائقة مع اتفاقیة المستخدم ھذه أو مع عقودنا.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5)</span> <span class="oneterms2">
                                        یمنع عرض عناوین وصلات لمواقع أخر خارج الموقع و إن كانت تخص السلعة المعروضة على الموقع ویتحمل من
                                        عرض العنوان على أیة أضرار قد تنجم عن دخول فیروسات أو برمجیات مؤذیة سواء مجمع سویتنس للتعامل
                                        الإلكتروني أو أي من مستخدمیھ
                                    </span>
                                </li>

                            </ol>
                        </li>

                    </ol>

                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">10-</span> <span class="oneterms-s">
                                حمایة المشتري : لدى الموقع مجمع سویتنس للتعامل الإلكتروني الاحقیة الكاملة لحمایة المشتري ویھدف إلى مساعدة المشترین
                                لضمان حمایة مشتریاتھم من احتیال الباعة على الموقع.
                            </span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        في حال إستلام إدارة الموقع لبلاغ المرسل سیتم عمل اللازم للتحقق من الحالة و تفاصیلھا، وفي حالة تقرر (من جانب
                                        الموقع) أن البائع ھو من قام متعمداً بالاحتیال على المشتري، فسیقوم الموقع بفرض على بتعویض المشتري ضمن سیاسة
                                        الموقع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        إستكمالا لما ورد برقم 2 أعلاه فإن "مجمع سویتنس للتعامل الإلكتروني" قد تلجأ لوقف أو إلغاء أو حجب وصول البائع إلى
                                        الموقع و/أو إلغاء عضویتھ، وللموقع الحق بتحمیل البائع تكالیف تعویض المشتري وتكالیف الشحن والتسلیم بحسب
                                        (بوالص الشحن و وأي رسوم إضافیة )، ویحتفظ للموقع بحقھ في اتخاذ خطوات إضافیة إذا ما كانت ضروریة، بما في ذلك
                                        الخطوات القانونیة .
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        أنت تعلم وموافق على أنھ في حال إرجاع أي سلعة من المشتري إلى الموقع، وكانت السلعة غیر مشروعة أو غیر قانونیة،
                                        فإنھ یحق للموقع حینھا وبمحض رؤیتھ أن یتلف البضاعة أو أن یتخذ أي خطوات ضروریة أخرى.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">رسوم الشحن الخاصة بطلبات ارجاع السلع :</span>
                                    <ol>
                                        <li><span class="oneterms1">1)</span> <span class="oneterms2">في حال كان الارجاع بسبب خطأ یتحملھ البائع او مشكلة في المنتج المرسل</span></li>
                                        <li><span class="oneterms1">&nbsp;</span> <span class="oneterms2">أ - اذا قام المشتري بالاعتراض خلال وقت استلام الطلب</span></li>
                                    </ol>

                                    <ol class="mar-ard">
                                        <li><span class="oneterms1">1)</span> <span class="oneterms2">یتحمل البائع رسوم الشحن الخاصة بارجاع السلعة لھ</span></li>
                                        <li>
                                            <span class="oneterms1">2)</span> <span class="oneterms2">
                                                في حالة عدم موافقة الموقع على طلب الإرجاع المقدم من قبل العمیل ورفض العمیل استلام السلعة المرتجعھ
                                                المرفوضة من قبل الموقع، سوف یكون الحق للموقع التخلص من السلعة بعد 1 یوما من تاریخ رفض العمیل.
                                            </span>
                                        </li>
                                    </ol>

                                    <ol>
                                        <li><span class="oneterms1">&nbsp;</span> <span class="oneterms2">ب - اذا قام المشتري بالاعتراض خلال استلام الطلب (فقط في حال تم الموافقة على ارجاع المنتج)</span></li>
                                        <li><span class="oneterms1">1)</span> <span class="oneterms2">یتحمل المشتري رسوم الشحن التي دفعت لشحن السلعة لھ</span></li>
                                        <li><span class="oneterms1">2)</span> <span class="oneterms2">یتحمل البائع رسوم الشحن الخاصة بارجاع السلعة لھ</span></li>
                                        <li>
                                            <span class="oneterms1">3)</span> <span class="oneterms2">
                                                في حالة عدم موافقة الموقع على طلب الإرجاع المقدم من قبل العمیل ورفض العمیل استلام السلعة المرتجعھ
                                                المرفوضة من قبل الموقع، سوف یكون الحق للموقع التخلص من السلعة بعد 1 یوما من تاریخ رفض العمیل.
                                            </span>
                                        </li>
                                    </ol>

                                </li>


                            </ol>
                        </li>

                    </ol>

                </div>



                <div class="f-tream-one">
                    <ol>
                        <li><span class="oneterms">11-</span> <span class="oneterms-s">البضائع المرتجعة :</span>
                        <li>
                            <span class="oneterms-inn">
                                یحق للموقع واي من الشركات التابعة لھا أن تقوم بالتخلص أو اتلاف أو تصفیة أو ان تعرض للبیع أي من السلع/المنتجات التابعة البائع وكما
                                تراه مناسباَ وذلك خلال 2 یوماً بعد استلامھا من شركة الشحن في حال تم ارجاع أو عدم استلام ھذه المنتجات/السلع من المشترین لأي سبب
                                كان، شریطة ان یتم اشعار البائع عن المنتجات المذكورة/السلع التي تم ارجاعھا عن طریق ارسال رسالة الى البرید الالكتروني المزود من
                                البائع ولم یقم البائع باتخاذ الاجراءات اللازمة لاستلامھا. تعتبر ھذه الفقرة تفویض صریح الى الموقع لاتلاف و/او عرض المنتجات في
                                التصفیة لأي منتجات/سلع مذكورة أعلاه وبدون أي اعتراض من البائعین وبدون أي مسؤولیة مترتبة على الموقع. علاوة على ذلك، یحق
                                للموقع ان تقوم بخصم من حساب البائع او مطالبتھ بأي رسوم أو مبالغ قد تتكبدھا من خلال الاتلاف و/أو تصفیة السلع المذكورة أعلاه .
                            </span>
                        </li>
                        </li>

                    </ol>

                </div>



                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">12-</span> <span class="oneterms-s">مسؤولیة مجمع سویتنس للتعامل الإلكتروني:</span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">الموقع ھو مجرد قناة للتواصل، حیث یمكن للمستخدمین الالتقاء والتفاعل مع بعضھم البعض بھدف بیع وشراء البضائع</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">الموقع لا یضمن أن المشتري أو البائع سوف سیتم الصفقة أو یقبل البائع بإرجاعھا أو بإعادة ثمنھا.</span></li>
                                <li><span class="oneterms1">3)</span> <span class="oneterms2">أنت لن تحمل الموقع مسؤولیة المستخدمین لناحیة المحتوى، الأفعال، ردود الأفعال، البضائع أو المعلومات التي یعرضونھ</span> </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">
                                        الموقع غیر مسؤول عن عدم التقید أو إبرام عقد یتم بین (المستخدمین، ولا ھو مسؤول عن نقل الملكیة القانونیة لبضاعة من البائع
                                        إلى المشتري). حیث أن عقد بیع أي بضاعة سیكون ثنائیاً بین البائع والمشتري. و لیس للموقع في أي لحظة الحق ولا
                                        السلطة ولا المصلحة في أیة بضاعة، ولیس على الموقع التزام او مطالبات بشأن تلك البضاعة المبرم بخصوصھا عقد بین البائع
                                        والمشتري.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5)</span> <span class="oneterms2">
                                        نحن غیر مسؤولون عن أي أداء غیر مرض أو متاخر من قبل أي من الطریفین، ولا عن أي خسارات، أعطال أو تأخیر، بسبب
                                        بضاعة غیر متوفرة أو تأخر تسلیمھا.
                                    </span>
                                </li>
                                <li><span class="oneterms1">6)</span> <span class="oneterms2">الموقع لیس مطلوب منھ التوسط أو حل أي نزاع أو إشكال بین المستخدمین.</span> </li>
                                <li>
                                    <span class="oneterms1">7)</span> <span class="oneterms2">
                                        الموقع لا یتحكم ولا یضمن النوعیة والأمان والمشروعیة لأي بضاعة یتم الإعلان عنھا، ولا ھو یتحكم في صدق المستخدمین
                                        لناحیة المضامین وما یدرجونھ ضمن وصف سلعھم، ولا في قدرة الباعة على تسویق بضاعتھم، ولا تسدید المشتري أثمان
                                        البضائع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">8)</span> <span class="oneterms2">
                                        یجب على المستخدمین وحدھم الإتفاق فیما بینھم على طریقة وشروط وبنود التسلیم، التسدید، فیما بینھم، حیث أن الموقع لا
                                        یتحمل المسؤولیة في مثل ھذه الترتیبات، وھو فقط یقدم خدمات إختیاریة للشحن و تسھیل الدفع .
                                    </span>
                                </li>
                                <li><span class="oneterms1">6)</span> <span class="oneterms2">الموقع لیس مطلوب منھ التوسط أو حل أي نزاع أو إشكال بین المستخدمین.</span> </li>
                                <li><span class="oneterms1">9)</span> <span class="oneterms2">الموقع لا یتحمل أیة مطالبات تنشأ عن أخطاء أو إھمال، سواء حصلت قدرا أو من طرف ثالث.</span></li>
                                <li>
                                    <span class="oneterms1">10)</span> <span class="oneterms2">
                                        الموقع یستثني من ضماناتھ و بنوده وشروطھ أي خسارات مالیة، تشویھ في السمعة، وأي أضرار خاصة تنشأ عن سوء
                                        استخدامك أو عدم قدرتك على استخدام الموقع، ومجمع سویتنس للتعامل الإلكتروني لا یتحمل أي مسؤولیات أو مطالبات في مثل
                                        ھذه الحالات.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">11)</span> <span class="oneterms2">
                                        أنت تعفي "مجمع سویتنس للتعامل الإلكتروني" و/أو أي من مسؤولیھ وممثلیھ، بشأن أي مطالبة، نزاع، تكالیف، أضرار، ومسؤولیة، وأي خسارة مباشرة لأي طرف نشأت عن فعل قام بھ مستخدمو الموقع، وانت على وجھ الخصوص تتنازل وفق
                                        القوانین المعمول بھا عن أي مطالبة في ھذا الشأن.
                                    </span>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>




                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">13-</span> <span class="oneterms-s">السریة :</span>
                            <ol>
                                <li>
                                    <span class="oneterms1">1)</span> <span class="oneterms2">
                                        یتخذ الموقع معاییر (فیزیائیة وتنظیمیة وتكنولوجیة) للحمایة من وصول شخص غیر مفوض إلى معلومات ھویتك الشخصیة،
                                        % وحفظھا. مع العلم أن الانترنت لیس وسیلة آمنة، وسریة معلوماتك الشخصیة لا یمكن أن تكون مضمونة 100
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        سیقوم الموقع بتزوید معلومات الإتصال بك " الجوال و البرید الإلكتروني للطرف الثاني إتمام الصفقة حاى یتم التواصل ما
                                        بین الطرفین لإتمام عملیة الشحن و الدفع.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        الموقع لیس لھ سیطرة على أفعال أي طرف ثالثة، مثل صفحات الانترنت الأخرى الموصولة بھذا الموقع، أو أطراف ثالثة
                                        تدعي أنھا تمثلك اوتمثل اخرین. انت تعلم وموافق أن قد یستخدم معلوماتك التي زودتھ بھا، بھدف تقدیم الخدمات لك
                                        في الموقع، ولإرسال رسائل تسویقیة لك، وان عقد السریة في ھذا الموقع یضبط عملیات الجمع والمعالجة والاستخدام
                                        والتحویل لمعلومات ھویتك الشخصیة.
                                    </span>
                                </li>

                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">14-</span> <span class="oneterms-s">نقض اتفاقیة المستخدم :</span>
                            <span class="oneterms-inn">
                                إن الموقع بحسب اتفاقیة المستخدم وبحسب القانون قد یلجأ حالاً وبدون تحملھ المسؤولیة إلى تحدید نشاطك، وإزالة عروضك في المزایدات،
                                وشطب قوائم بضاعتك المعروضة للبیع، وإنذار المستخدمین الآخرین بشأن نشاطاتك، وقد یلجأ مجمع سویتنس للتعامل الإلكتروني كذلك
                                إلى وقف مؤقت أو دائم، تحدید أو سحب عضویتك و/أو تحدید أو إلغاء وصولك إلى الموقع دون الإضرار بحقوقھ الأخرى ووسائلھ
                                المشروعة في استرداد حقوقك في حالة :
                            </span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">إذا انتھكت اتفاقیة الإستخدام</span> </li>
                                <li><span class="oneterms1">2)</span> <span class="oneterms2">إذا لم یكن بإمكان مجمع سویتنس للتعامل الإلكتروني توثیق أي من معلوماتك المقدمة إلیھ.</span></li>
                                <li>
                                    <span class="oneterms1">3)</span> <span class="oneterms2">
                                        إذا قررت مجمع سویتنس للتعامل الإلكتروني أن نشاطاتك قد تتسبب لك أو لمستخدمین آخرین و مجمع سویتنس للتعامل
                                        الإلكتروني في إشكالات قانونیة.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">4)</span> <span class="oneterms2">
                                        قد یلجأ مجمع سویتنس للتعامل الإلكتروني "بحسب تقیمھ " إلى إعادة نشاط المستخدمین الموقوفین، حیث أن المستخدم الذي
                                        اوقف نشاطھ نھائی اً أو سحبت عضویتھ، قد لا یكون بإمكانھ التسجیل أو محاولة التسجیل في مجمع سویتنس للتعامل الإلكتروني،
                                        أو استخدام الموقع بأي طریقة كانت مھما كانت الظروف، لحین السماح لھ بإعادة نشاطھ في مجمع سویتنس للتعامل الإلكتروني.
                                        ومع ذلك فإنك إن قمت بانتھاك اتفاقیة المستخدم ھذه، فإن مجمع سویتنس للتعامل الإلكتروني یحتفظ بحقھ في استعادة أیة مبالغ
                                        مستحقة للموقع علیك، وأي خسارات وأضرار تسببت بھا مجمع سویتنس للتعامل الإلكتروني لھا الحق بإتخاذ الإجراءات القانونیة
                                        و/أو اللجوء لمحاكم دولة الإمارات العربیة المتحدة لرفع قضیة جنائیة ضدك حسبما یراه مجمع سویتنس للتعامل الإلكتروني
                                        مناسباً.
                                    </span>
                                </li>
                                <li>
                                    <span class="oneterms1">5)</span> <span class="oneterms2">
                                        إن قیامك أو قیام آخرین بانتھاك اتفاقیة المستخدم ھذه لا یلزم مجمع سویتنس للتعامل الإلكتروني بالتنازل عن حقھ في اتخاذ
                                        الإجراءات المناسبة لمثل ھذا الفعل ولغیره من أفعال الانتھاك المشابھة. ومجمع سویتنس للتعامل الإلكتروني لا یضمن اتخاذه
                                        إجراءات ضد كل الانتھاكات لاتفاقیة المستخدم.
                                    </span>
                                </li>

                            </ol>
                        </li>
                    </ol>
                </div>



                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">15-</span> <span class="oneterms-s">لا ضمان:</span>
                            <span class="oneterms-inn">
                                الموقع یوفر لموقعھ وخدماتھ بیعاً على ما ھي البضاعة علیھ، وحسبما ھي متوفرة، دون اعتمادھا ودون ضمانھا لا باطناً ولا ظاھراً، بما في
                                ذلك سند الملكیة، وصلاحیتھا للاستخدام، جودتھا، أمانھا وأصالتھا، حیث أن الموقع لا یضمن دقتھا ومدى اعتمادیتھا وكمالھا، ولا یضمن
                                المعلومات والنصوص والتصامیم ووسائل الاتصال المستخدمة من خلال الموقع لا یضمن إصلاح الأعطاب ولا یضمن خلو الموقع من
                                الفایروسات وأي أشیاء أخرى یمكن أن تلحق الضرر بالمستخدمین. ومن طبیعة الاتصال عبرالانترنت أن تكون المعلومات فیھ معرضة
                                للدخول إلیھا وإفسادھا والتسبب في التأخیر. وقد یتعرض الموقع من حین لآخر إلى عدم الجھوزیة بسبب إصلاح الأعطال والصیانة
                                والتطویر، أنت موافق ان "مجمع سویتنس للتعامل الإلكتروني" لیس ملزماً بدعم الموقع، وأنك موافق علناً على زیارتك للموقع وتحمل
                                مخاطرك بنفسك.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">16-</span> <span class="oneterms-s">تحدید المسؤولیات :</span>
                            <span class="oneterms-inn">
                                بحسب ما ھو مسموح في القانون فإن "مجمع سویتنس للتعامل الإلكتروني" وموظفیھ ومدرائھ ووكلائھ والمتفرعین عنھ والمجھزین لھ لن
                                یكونوا مسؤولین عن أي خسارة مباشرة أو أعطال تنشأ عن استخدامك للموقع. إذا لم تكن راض عن الموقع أو عن أي من محتویاتھ مواده
                                فالحل و ھو بعدم استمرارك باستخدامھ، علاوة على ذلك فأنت موافق أن اي استخدام غیر مفوض للموقع وخدماتھ، بسبب إھمالك سوف
                                یتسبب بالحاق الأذى بالموقع، وعلیھ سیضطر الموقع حینھا اللجوء إلى بنود وشروط اتفاقیة المستخدم.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">17-</span> <span class="oneterms-s">الأمان :</span>
                            <span class="oneterms-inn">
                                أنت موافق على توفیر الأمان للموقع ومدرائھ وموظفیھ ووكلائھ ومجھزیھ ووقایتھم من أي ضرر قد یلحق بھم جراء مطالبات وخسائر
                                وأعطال وتكالیف ونفقات، تحدث بسبب انتھاكك لاتفاقیة المستخدم أو خرقك لأي قانون أو تعدیلات او تعدي على حقوق أطراف ثالثة.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">18-</span> <span class="oneterms-s">العلاقة والإشعارات :</span>
                            <span class="oneterms-inn">
                                لا تتضمن أي من بنود اتفاقیة المستخدم إشارة إلى وجود شراكة بینك وبین "مجمع سویتنس للتعامل الإلكتروني"، وأنت لیس لك سلطة في
                                إلزام "مجمع سویتنس للتعامل الإلكتروني"بأي حال من الأحوال، وأن أي إشعارات تود إرسالھا للموقع، علیك إرسالھا بالبرید الإلكتروني،
                                على أن یقوم الموقع بالرد على الرسالة الإلكترونیة. أنت تعرف وموافق على أن أیة إشعارات ترسل إلیك من الموقع سوف تعلن على الموقع
                                أو بواسطة البرید الإلكتروني الذي زودتنا بھ خلال عملیة التسجیل، ویفترض أنك تسلمتھ بعد 72 ساعة من الإرسال. ویمكن أن نرسل لك
                                إشعاراً بالبرید العادي على العنوان الذي زودتنا بھ ویفترض وصولھ إلیك بعد 7 أیام من الإرسال.
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">19-</span> <span class="oneterms-s">العلاقة والإشعارات :</span>
                            <span class="oneterms-inn">
                                إذا كانت أیة فقرة واردة في اتفاقیة المستخدم ھذه غیر صالحة أو ملغاة أو أنھا لأي سبب لم تعد نافذة، فإن مثل ھذه الفقرة لا تلغي صلاحیة
                                بقیة الفقرات الواردة في الاتفاقیة. ھذه الاتفاقیة (والتي تعدل بین حین وآخر بحسب بنودھا) تضع كافة الخطوط العریضة للتفاھم والاتفاق
                                بینك وبین مجمع سویتنس للتعامل الإلكتروني مع الاعتبار لما یلي :
                            </span>
                            <ol>
                                <li><span class="oneterms1">1)</span> <span class="oneterms2">لیس من حق أي شخص لا یكون طرفاً في اتفاقیة المستخدم ھذه أن یفرض أیة بنود أو شروط فیھا.</span> </li>
                                <li>
                                    <span class="oneterms1">2)</span> <span class="oneterms2">
                                        إذا تمت ترجمة اتفاقیة المستخدم لأي لغة أخرى غیر الإنجلیزیة، سواء على الموقع أو بطرق أخرى، فإن النص الإنجلیزي لھا
                                        یظل ھو السائد.
                                    </span>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>


                <div class="f-tream-one">
                    <ol>
                        <li>
                            <span class="oneterms">20-</span> <span class="oneterms-s">القانون والتشریع الحاكمان :</span>
                            <span class="oneterms-inn">
                                اتفاقیة المستخدم ھذه محكومة ومصاغة بحسب قانون دولة الإمارات العربیة المتحدة، وھي خاضعة تماماً وكلیاً للتشریع المعمول بھ في
                                المحاكم في الدولة، ھذه الفقرة توجد بدیلاً یتم اللجوء إلیھ في حال انتھاء مفعول اتفاقیة المستخدم ھذه أو الغاؤھا لأي سبب كان.
                            </span>
                        </li>
                    </ol>
                </div>




            </div>


        </div>



    </div>
</section>