@{
    ViewData["Title"] = "Forgot password";
}
<section ng-controller="formsubmit" class="create-account">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 color-msg-forgot">
                <span style="color:red;">{{msg}}</span>
            </div>
        </div>
    </div>
    <form ng-submit="mobilenoupdate()" id="mobilenoupdate" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p>{{"Please enter your registered mobile number here to recover your account password. We will send an OTP to your mobile number."| translate }}</p>
                    <div class="forgot-pass"><div class="forgot-id">AE +971</div> <div class="forgot-input"><input required placeholder="{{'Mobile Number'| translate }}" data-parsley-type="digits"  data-parsley-maxlength="10" data-parsley-minlength="9" ng-model="mobileno"  class="form-control" type="text" /></div></div>
                    <div class="forgot-subm"><input autocomplete="nope" class="orange_btn" value="{{'Submit'| translate }}" type="submit" /></div>
                </div>
            </div>
        </div>
    </form>
    <form ng-submit="Otpupdate()" id="otpupdate" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p>{{"Enter a 6 digit OTP here that you have recieved on your registered mobile number"| translate }}.</p>
                    <input type="hidden" ng-model="optgen" />
                    <input required ng-model="otpno" minlength="6" placeholder="{{'OTP'|translate}}" class="form-control" type="text" />
                    <a class="resndotp" ng-click="mobilenoupdate()">{{"Resend otp"| translate }}</a>
                    <input class="orange_btn" value="{{'Submit'| translate }}" type="submit" />
                </div>
            </div>
        </div>
    </form>
    <form ng-submit="Passwordupdate()" id="passupdate" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <input type="hidden" ng-model="mobileno" />
                    <input required ng-model="passno" id="txtPassword" ng-keyup="passwordstrong()" minlength="6" placeholder="{{'Password'| translate }}" class="form-control" type="text" />
                    <div class="passwordprogress"><span id="password_strength"></span></div>
                    <input required ng-model="passno1" minlength="6" placeholder="{{'Confirm Password'| translate }}" class="form-control" type="text" />
                    <input class="orange_btn" value="{{'Submit'| translate }}" type="submit" />
                </div>
            </div>
        </div>
    </form>
    <div class="container successpassword">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{"Password Successfully Changed"| translate }}

                <a class="orange_btn" href="/createaccount/login">
                    {{"Continue Login"| translate }}
                </a>
            </div>
        </div>
    </div>

</section>
<style>
    .resndotp {
        font-size: 12px;
        font-family: Arial;
    }

    .successpassword, #passupdate, #otpupdate {
        display: none;
    }

    #password_strength {
        font-size: 8px;
        text-align: left;
        padding-left: 7px;
        color: #fff;
        border-radius: 5px;
    }

    .passwordprogress {
        color: #fff !important;
        margin: 6px 0px;
        box-shadow: inset 0 0 5px #000;
        border-radius: 5px;
    }
</style>