@{
    ViewData["Title"] = "Thank you";
}

<section class="thankyou">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 text-center thankyou_box">
                <h1>{{"Thank You!"| translate }}</h1>
                <p>
                    <strong>{{"Please check your email"| translate }}</strong>{{"for further instructions on how to complete your account setup."| translate }}
                </p>
                <hr>
                <p class="lead">
                    <a class="continue_btn" href="~/">{{"Continue to homepage"| translate }}</a>
                </p>
            </div>
        </div>
    </div>
</section>
