@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Areas/Vendor/Views/Shared/_LayoutLogin.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="/js/angular-datepicker.js"></script>
<script src="~/js/Vendor/Angulercustom.js?v=@DateTime.Now.Millisecond"></script>
<section ng-app="vendorApp" ng-controller="CreateVendorPasswrord" ng-init="updatedata()" class="create-account">


    <div class="container">
        <div class="row mob-vent">
            <div class="card card-login col-lg-6 col-sm-6 col-md-6 col-xs-12 mx-auto mt-5">
                <div class="card-header">
                    <center> <img src="/img/logo1.png" alt="logo" class="logo-img"></center><hr>
                    <h4>Password Update</h4>
                </div>

                <div class="card-body">
                    <div class="txtmsg" style="color:red">{{emsg}}</div>
                    <div class="txtmsg" style="color:#ea8b62">{{smsg}}</div>
                    <form class="mobilenumber" ng-submit="updatemobilenumber()">
                        <div class="sendotp">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input class="form-control" type="text" ng-model="mobilenumber" maxlength="10" minlength="9" required placeholder="Mobile Number*" name="VatNumber">
                                    <!-- <span>Minimum 6 Characters</span>-->
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Submit" />
                        </div>
                    </form>
                    <form class="sendotpchk" style="display:none;" ng-submit="updateotpdatanumber()">
                        <div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input class="form-control " style="display:none;" type="text" ng-model="otpdata" minlength="2" required placeholder="Verify Otp Number*" name="otp">
                                    <input class="form-control" type="text" ng-model="votpdata" minlength="2" required placeholder="Verify OTP*" name="otp"> 
                                    <!-- <span>Minimum 6 Characters</span>-->
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Submit" />
                            <div style="cursor:pointer;" ng-click="resentotp()"><img     width="27"  src="~/img/reset.png" /> &nbsp; Re-send opt</div>
                        </div>
                    </form>
                    <form class="newPassword"  style="display:none;"  ng-submit="updatePassword()">
                        <div class="newPassword">
                            
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" ng-model="password" minlength="6" required placeholder="Password" name="Newpassword">
                                    <!-- <span>Minimum 6 Characters</span>-->
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" ng-model="cpassword" minlength="6" required placeholder="Verify Password" name="Newpassword">
                                    <!-- <span>Minimum 6 Characters</span>-->
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Save password" />
                        </div>
                    </form>
                    <br />Already have an account? <a href="/vendor/login">Login</a>
                </div>
            </div>
        </div>
    </div>

</section>
<style>
    .txtmsg {
        font-size: 11px;
        text-transform: capitalize;
        text-align: center;
        position: relative;
        top: -9px;
    }
    
    
    .error {
        color: red;
        font-weight: bold;
        text-align: center;
        font-size: 10px;
        margin-top: 4px;
    }

    .parsley-error {
        border: 1px solid red;
    }

    .parsley-errors-list {
        padding: 0px;
        margin: 0px;
    }

        .parsley-errors-list li {
            font-size: 12px;
            list-style: none;
        }
</style>
<script>
    $(document).ready(function () {
        html = ""
        $.ajax({
            url: "/ajaxapi/ShipingCityList",
            success: function (result) {

                res = result.result;
                html += "<option value=''>Select City</option>";
                for (i = 0; i < res.length; i++) {
                    html += "<option value='" + res[i].id + "'>" + res[i].name + "</option>";
                }

                $('.citydropdown').html(html);
            }
        });





    })
</script>
<script src="/Scripts/parsley.min.js"></script>
<script>
    $('form').parsley();
</script>

