@{
    ViewData["Title"] = "About";
}
<section class="choclate-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-3 left-side-bar">
                <div class="side-div">
                    <h4 class="dropbtn">{{"Category"| translate }}<i class="fa fa-angle-down pull-right" aria-hidden="true"></i></h4>
                    <ul class="category-list dropdown-content">
                        <li>
                            <label class="check-square">
                                <input checked="checked" type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>{{"Unsweetened Chocolate"| translate }} <span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>{{"Bittersweet Chocolate"| translate }} <span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>{{"Semisweet Chocolate"| translate }}<span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>{{"Milk Chocolate"| translate }}<span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>{{"Sweet Baking Chocolate"| translate }}<span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>{{"Unsweetened Cocoa Powder"| translate }}<span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>{{"White Chocolate"| translate }}<span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Premelted Chocolate <span class="pull-right">(24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Candy Coating<span class="pull-right">(15)</span>
                            </label>
                        </li>
                        <li>
                            <label class="check-square">
                                <input type="checkbox">
                                <span class="box-check"><i class="fa fa-check" aria-hidden="true"></i></span>Mexican Chocolate <span class="pull-right">(24)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="side-div">
                    <h4 class="dropbtn">Price<i class="fa fa-angle-down pull-right" aria-hidden="true"></i></h4>
                    <div class="dropdown-content">
                        <span>AED 10</span>
                        <span class="pull-right">2500 AED</span>
                        <img src="img/price-img.png" style="width:100%;margin-top:10px;">
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-9 brand-right">
                <h3>Chocolate Brands</h3>
                <div class="row">
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand1.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand2.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand3.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand4.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand5.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand6.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand7.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand8.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand9.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 brand-choco">
                        <img src="img/brand10.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>