@using sweetnes18.Models;
@{

    ViewData["Title"] = "No Customization Product";

}


<section ng-app="getcustomization" class="checkoutCustomized-page checkoutCustomized-available">
    <div class="container">
        <h2><center>No Customized Product Available</center></h2>
    </div>
</section>




<style>
    footer {
        display: none;
    }
</style>