@using sweetnes18.Models;
@{

    ViewData["Title"] = "Thankyou Customization Product";

}


<section ng-app="getcustomization"  class="checkoutCustomized-page">
    <div class="container">
        <h2><center>{{"Thanks for submitting the data , we have sent it to respective vendor." | translate }}</center></h2>  
    </div>
</section>



<style>
    footer {
        display: none;
    }
</style>
