@using sweetnes18.Models;
@{

    ViewData["Title"] = "Customization Product";

}


<section ng-app="getcustomization" data-OrderID="@ViewData["OrderID"]" class="checkoutCustomized-page">
    <div class="container">

        <div class="col-md-6 col-sm-12 col-xs-12 col col-md-offset-3 ">
            <form method="post" action="/ajaxapi/paynow">
                <div class="col-md-12 moye">
                    <input type="text" name="orderid" value="@DateTime.Now.Millisecond@DateTime.Now.Millisecond@DateTime.Now.Millisecond" placeholder="Order Number">
                </div>
                <div class="col-md-12 moye">
                    <input type="text" name="amount" value="20.20" placeholder="Amount">
                </div>
                <div class="col-md-12 moye">
                    <input type="text" name="cardNo" value="5123450000000008" placeholder="Enter Your Card Number">
                </div>
                <div class="col-md-12 moye">
                    <input type="text" name="month" value="05" placeholder="Month">
                </div>
                <div class="col-md-12 moye">
                    <input type="text" name="year" value="21" placeholder="Year">
                </div>
                <div class="col-md-4 seco">
                    <input type="text" name="cvv" value="100" placeholder="Security Code">
                </div><br /><hr />
                <div class="col-md-4 seco">
                    <input type="submit" name="PayNow" />
                    </div>
            </form>
        </div>
    </div>
</section>
<script>
    
    function readURLData(input,d) {
       
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                
                $('.'+d).attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


<style>
    .bgimages {
            width:50px;  
    }
    .customizationboxdatabox {
        border-bottom: 2px solid;
        margin-bottom: 19px;
    }
    footer {
        display: none;
    }

    .trackordercontainer {
        width: 30%;
        margin: 0 auto;
    }

    .bordertopboxtoal {
        padding-top: 10px;
        clear: both;
        border-top: 1px solid #000;
    }

    .invoice {
        margin: 12px 0;
        border: 3px solid #ececec;
        box-shadow: 0 0 5px 1px #b6a7a7;
        padding: 0 12px;
    }
</style>


