@model IEnumerable<sweetnes18.Areas.administrator.Models.Products>

@{
    ViewBag.Title = "Products List";
    Layout = "~/Areas/administrator/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p class="cre-product-on">
    @Html.ActionLink("Create New", "Create")
</p>



<div class="container new-table-style" ng-controller="Standard" ng-init="init('Product');">
    @*<div class="col-md-12 ">
            <div class="btn-group btn-light" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Available</button>
                <button type="button" class="btn btn-secondary">Pending</button>
                <button type="button" class="btn btn-secondary">Addintional fees</button>
                <button type="button" class="btn btn-secondary">Now filter</button>
            </div>
        </div>*@
    <div class="col-md-6">
        <div class="dataTables_length">

        </div>
    </div>
    <div ng-include="'Search'"></div>
    <!-- pagination end -->
    <table class="table table-striped">
        @*// table-responsive*@
        <thead>
            <tr>
                <th>Date</th>
                <th>Other Id</th>
                <th>Product Title</th>
                <th>Reguler Price</th>
                <th>Product Quantity</th>
                <th>Feature Images</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in StandardJson">
                <td>{{i.CreatedDate}}</td>
                <td>{{i.ProductID}}</td>
                <td> {{i.ProductTitle}}</td>
                <td style="text-align:center;">{{i.ProductRegulerPrice}} AED</td>
                <td style="text-align:center;"><input readonly style="text-align:center; border:1px solid #eee;" value="{{i.ProductQun}}" /></td>
                <td style="text-align:center;"><img class="img-responsive img-thumbnail imagesbox" src="{{i.productimage}}" /></td>
                <td>
                    <a href="/administrator/Products/edit/{{i.ProductID}}"><i class='fa fa-pencil' aria-hidden='true'></i></a>
                    <a target="_new" href="/ProductDetail/product/{{i.ProductID}}"><i class='fa fa-eye' aria-hidden='true'></i></a>
                    <a href="/administrator/Products/delete/{{i.ProductID}}"><i class='fa fa-trash-o' aria-hidden='true'></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-include="'Pagination'"></div>

</div>